<div class="container-fluid page" style="background-color: white">
  <div class="d-flex page__box p-3">Dashboard</div>
  <div class="page__content shadow p-3 position-relative" >   
    <div class="card" style="border: none;width: 100%;">
      <div  class="col-12 row" style="width: 100%;height: 25px;margin-bottom: 2%;">
        <h1 style="text-align: center;font-size:larger;font-weight: bolder;color: darkred;">Dashboad Incident</h1>
        </div>
      <div class="row">
        <div class="col-lg-12">
          <canvas id="incidentsPerStatutChartMonth"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <canvas id="incidentsPerStatutChart"></canvas>
        </div>
        <div class="col-lg-8">
          <canvas id="incidentsPerMonthChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <canvas id="incidentsPerApplicationChart"></canvas>
        </div>
        <div class="col-lg-8">
          <canvas id="incidentsPerLotsChart"></canvas>
        </div>
      </div>
      <div  class="col-12 row" style="width: 100%;height: 25px;margin-bottom: 2%;">
        <h1 style="text-align: center;font-size:larger;font-weight: bolder;color: darkred;">Dashboad Operation</h1>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <canvas id="operationPerStatutChartMonth"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <canvas id="operationPerStatutChart"></canvas>
          </div>
          <div class="col-lg-8">
            <canvas id="operationPerMonthChart"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <canvas id="operationPerApplicationChart"></canvas>
          </div>
          <div class="col-lg-8">
            <canvas id="operationPerLotsChart"></canvas>
          </div>
        </div>
        <div  class="col-12 row" style="width: 100%;height: 25px;margin-bottom: 2%;">
          <h1 style="text-align: center;font-size:larger;font-weight: bolder;color: darkred;">Dashboad Changement Planifier</h1>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <canvas id="changePerStatutChartMonth"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <canvas id="changePerStatutChart"></canvas>
            </div>
            <div class="col-lg-8">
              <canvas id="changePerMonthChart"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <canvas id="changePerApplicationChart"></canvas>
            </div>
            <div class="col-lg-8">
              <canvas id="changePerLotsChart"></canvas>
            </div>
          </div>
    </div>
    
  </div>
</div>

