<div class="container-fluid page" style="background-color: white">
  <div class="d-flex page__box p-3">Dashboard</div>
  <div class="page__content shadow p-3 position-relative" style="display: flex; flex-wrap: wrap">
    <div class="col" style="flex: 100%;height: 25px;margin-bottom: 2%;">
    <h1 style="text-align: center;font-size:larger;font-weight: bolder;color: darkred;">Dashboad Incident</h1>
    </div>
    <div class="col" style="flex:100%">
      <canvas id="incidentsPerStatutChartMonth" style="height: 20px;"></canvas>
    </div>
    <div class="col" style="flex: 30%">
      <canvas id="incidentsPerApplicationChart" style="height: 100%; width: 100%"></canvas>
    </div>
    <div class="col" style="flex: 67%;">
      <canvas id="incidentsPerMonthChart" style="height: 100%; width: 100%"></canvas>
    </div>
    <div class="col" style="flex:30%">
      <canvas id="incidentsPerStatutChart" style="height: 100%; width: 100%"></canvas>
    </div>
    <div class="col" style="flex: 67%;">
      <canvas id="incidentsPerLotsChart" style="height: 100%; width: 100%"></canvas>
    </div>

  </div>
</div>

