<div class="container-fluid page card" style="background-color: white">
    <div class="page__box p-3">Registre des Changements Planifier</div>
    <div class="page__content shadow p-2 position-relative align-items-center">
      <div class="card">
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="right">
              <button pButton pRipple label="Ajouter Changement" icon="pi pi-plus" class="p-button-success mr-2" (click)="PopUp()" ></button>
          </ng-template>
          <ng-template pTemplate="left">
              <button pButton pRipple label="Export" icon="pi pi-upload" (click)="exportExcel()" class="p-button-help"></button>
          </ng-template>
      </p-toolbar>
        <p-table class="table" #dt1 [value]=" this.ListChangementOfPilote" dataKey="id" [rows]="10"
          [showCurrentPageReport]="true" [loading]="loading" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [sortField]="'dateDebut'" [sortOrder]="-1"
          [globalFilterFields]="['titre','application.nomApplication','statut','dateDebut','dateFin','version','impactMetier']">
          <ng-template pTemplate="caption">
            <div class="flex">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
              <span class="p-input-icon-left ml-auto" style="float: right;">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>      
              <th>
                <div class="flex justify-content-center align-items-center">
                  Application
                  <p-columnFilter type="text" field="application.nomApplication" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                  titre Changement
                  <p-columnFilter type="text" field="titre" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                  Statut
                  <p-columnFilter type="text" field="statut" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                    version
                  <p-columnFilter type="text" field="version" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                  Impact Métier
                  <p-columnFilter type="text" field="impactMetier" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                  Date Debut
                  <p-columnFilter type="date" field="dateDebut" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center align-items-center">
                  Date Fin
                  <p-columnFilter type="date" field="dateFin" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                Action
              </th>
             
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-change>
            <tr>
             
              <td>
                {{change.application.nomApplication}}
              </td>
               <td>
                {{change.titre}}
              </td>
              <td>
  
                <div *ngIf="change.statut=='Planifié'"><p-badge severity="warning" styleClass="mr-2"></p-badge></div>
                 <div *ngIf="change.statut=='Terminé avec succès'" ><p-badge severity="success" styleClass="mr-2"></p-badge></div> 
                  {{change.statut}}
              </td>
              <td>
                {{change.version}}
              </td>
              <td>
                {{change.impactMetier}}
              </td>
              <td>
                {{change.dateDebut | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                {{change.dateFin | date: 'MM/dd/yyyy'}}
              </td>
              <td><button pButton pRipple (click)="ShowCharte(change)" type="button" style="font-size: larger;" icon="pi pi-search"
                  class="p-button-rounded p-button-info"></button>
              <button pButton pRipple (click)="Edite(change)" type="button" style="font-size: larger;" icon="pi pi-pencil"
                class="p-button-rounded p-button-success"></button>
            <button pButton pRipple (click)="DeleteChange(change.id)" type="button" style="font-size: larger;" icon="pi pi-times"
              class="p-button-rounded p-button-danger"></button>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">aucun changement n'a été trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <p-dialog header="Ajouter Un Changement" [modal]="true" [(visible)]="showPopUpChange" (onHide)="onDialogHideLang()"
    [style]="{width: '40vw', height: '25vw'}" [resizable]="true">
  
    <div class="col-12 text-center" style="margin-top: 1%;">
      <span class="p-input-icon-left" [style]="{ width: '40%' }">
        <p-dropdown [style]="{ width: '100%', required: 'required' }" [options]="ListApp" optionLabel="nomApplication"
          [filter]="true" filterBy="nomApplication" [showClear]="true" placeholder="Selectinné l'Application"
          [(ngModel)]="this.AddChangement.application">
          <ng-template let-application pTemplate="item">
            <div class="country-item">
              <div>{{ application.nomApplication }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </span>
      <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'40%'}">
        <p-dropdown [options]="statutChange" [(ngModel)]="this.AddChangement.statut"
          [style]="{'width':'100%','required':'required'}" placeholder="Selectinné le statut" optionValue="name"
          optionLabel="name" [showClear]="true"></p-dropdown>
      </span>
    </div>
    <div class="col-12 text-center" style="margin-top: 1%;">
      <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'40%'}">
        <p-dropdown [options]="listLangage" [(ngModel)]="this.langage"
          [style]="{'width':'100%','required':'required'}" placeholder="Selectinné la langue" optionValue="name"
          optionLabel="name" [showClear]="true"></p-dropdown>
      </span>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Submit" (onClick)="RouteFormAddChange()" icon="pi pi-check"></p-button>
    </ng-template>
  </p-dialog>
  <p-dialog header="Choix D'affichage" [modal]="true" [(visible)]="popUpLangue" (onHide)="onDialogHideLang()"
    [style]="{width: '30vw', height: '15vw'}" [resizable]="true">
   
    <div class="col-12 text-center" style="margin-top: 1%;">
      <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'80%'}">
        <p-dropdown [options]="listLangageCharte" [(ngModel)]="this.selectLang"
          [style]="{'width':'100%','required':'required'}" placeholder="Selectinné la langue" optionValue="name"
          optionLabel="name" [showClear]="true"></p-dropdown>
      </span>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Submit" (onClick)="SelectLanguage()" icon="pi pi-check"></p-button>
    </ng-template>
  </p-dialog>
  
  
 <app-charte-changement-ang></app-charte-changement-ang>
 <app-charte-changement-fr></app-charte-changement-fr>
 <app-charte-changement-fr-ang></app-charte-changement-fr-ang>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  