<p-dialog  [modal]="true" 
  [(visible)]="this.charteIncident3Bfr"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
<div class="col-12" >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
  <img src="../../../../assets/img/IncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
</div>
<div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
  <img src="../../../../assets/img/IncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Clos'" >
    <img src="../../../../assets/img/IncidentClose.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
</div>
<div style="width: 100%;"> 
  <div style="float: left;width: 90%">
    <div style="margin-top: 2%;margin-left: 5%;">
      <p>Madame, Monsieur</p><br>
      <br>
      <p>Vous trouverez ci-après le point de suivi concernant l’incident :</p><br>
      <br>
      <p style="color: red;">Nom de l’application :</p>
      <p>{{this.AddIncident.application.nomApplication}}</p><br>
      <p style="color: red;">Date de début : </p>
      <p>{{this.AddIncident.dateDebut | date: 'MM/dd/yyyy'}} </p><br>
      <p style="color: red;">Numéro d’incident / Assistance : </p>
      <p>{{this.AddIncident.numeroIncident}} </p><br>
      <p style="color: red;">Statut de l’incident : </p>
      <p>{{this.AddIncident.statut}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">DESCRIPTION DE L’INCIDENT </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.description}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">SITUATION ACTUELLE</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.situationActuelle}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">IMPACTS IDENTIFIES</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.impact}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">PLAN D'ACTION</p>
      <div *ngFor="let action of this.AddIncident.planActionList">
        <p > <b><u>Action {{action.numero}}</u></b> {{action.statut}} : {{action.description}} </p>
      </div>
      <p style="color: rgb(104, 104, 238);">SOLUTION DE CONTOURNEMENT</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.solutionContournement}}</p><br>
      <br>
      <p><span style="color: rgb(104, 104, 238);"> PROCHAINE COMMUNICATION :</span>{{this.AddIncident.prochaineCommunication | date: 'hh:mm:ss MM/dd/yyyy'}}</p>
    </div>

  </div>
</div>
<div class="col-12" >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
  <img src="../../../../assets/img/FooterIncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
    <img src="../../../../assets/img/FooterIncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" >
      <img src="../../../../assets/img/FooterIncidentClos.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
</div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteIncident3Bfr=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>