.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: linear-gradient(84deg, #991f3d, #e31937 33%, #ff6a00 67%, #facdd2 100%);
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(50vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      margin-bottom: 2%;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  p-table,td,th{
    font-size: 16px;
  }
  
  