<p-dialog [modal]="true" [(visible)]="this.charteOperationAngFr" header="Charte Operation Planifier"
    [style]="{width: '50vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
    <div #myDialog id="myDialog" style="width: 100%;border:2px solid rgb(24, 109, 189)">
        <div class="col-12">
            <img src="../../../../../assets/img/operationPlanifier.png" width="100%" style="margin-left: 0%;" alt="psa"
                title="psa" class="staticImg">
        </div>
        <div style="width: 100%;margin-bottom: 2%;" style="font-family: 'Times New Roman', Times, sans-serif;font-size: 25px;">
            <div style="float:left; width: 50%;">
                <div *ngIf="this.AddOperation.statut == 'Planifier'" class="col-12" style="height: 5vh; display: flex; align-items: center; justify-content: center; text-align: center;background-color: rgb(146, 196, 219);">
                        <p style="margin: 1%;"><b style="color: white;font-size: 30px;">Operation Details</b></p>
                    </div>
                    <div *ngIf="this.AddOperation.statut == 'Terminer'" class="col-12" style="height: 5vh; display: flex; align-items: center; justify-content: center; text-align: center;background-color: rgb(100, 241, 136);">
                        <p style="margin: 1%;"><b style="color: white;font-size: 30px;">End of Operation</b></p>
                    </div>
                <div style="margin: 2%;">
                                      
                    <p>Hello,</p><br>

                    <p>{{this.AddOperationAng.description}}</p><br>

                    <p *ngIf="this.AddOperationAng.statut == 'Planifier'">At your disposal for any further information.</p>

                    <br>
                    <p style="color: rgb(55, 97, 233);;font-weight: bolder">PLEASE FORWARD THIS EMAIL TO ALL CONCERNED PARTIES.</p>
                </div>


            </div>

            <div style="float:right;width: 50%;border-left: 2px solid rgb(24, 109, 189);">
                 <div *ngIf="this.AddOperation.statut == 'Planifier'" class="col-12" style="height: 5vh;display: flex; align-items: center; justify-content: center; text-align: center;background-color: rgb(146, 196, 219);">
                        <p style="margin: 1%;"><b style="color: white;font-size: 30px;">Détails de l'opération</b></p>
                    </div>
                    <div *ngIf="this.AddOperation.statut == 'Terminer'" class="col-12" style="height: 5vh;display: flex;  align-items: center; justify-content: center; text-align: center;background-color: rgb(100, 241, 136);">
                        <p style="margin: 1%;"><b style="color: white;font-size: 30px;">Fin de l'opération</b></p>
                    </div>
                <div style="margin: 2%;">
                   
                    <p>Bonjour,</p><br>

                    <p>{{this.AddOperation.description}}</p><br>

                    <p *ngIf="this.AddOperation.statut == 'Planifier'">Restons à votre disposition pour toutes informations complémentaires.</p>

                    <br>
                    <p style="color: rgb(55, 97, 233);font-weight: bolder" >PRIERE DE TRANSFERER CET EMAIL A TOUTES LES PARTIES CONCERNEES.</p>
                </div>

            </div>
        </div>
        <div class="col-12" style="margin-top: 2%;">

            <img src="../../../../../assets/img/FooteroperationPlanifier.png" width="100%" style="margin-left: 0%;" alt="psa"
                title="psa" class="staticImg">


        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="this.charteOperationAngFr=false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>