<div class="container-fluid page" style="background-color: white">
  <div class="page__box p-3">Registre des états de Santé </div>
  <div class="page__content shadow p-2 position-relative">
    <div>
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-size: 20px;padding-top: 12px;padding-left: 12px;padding-right: 12px;">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="monetics-tab" data-bs-toggle="tab" data-bs-target="#monetics" type="button" role="tab" aria-controls="monetics" aria-selected="true">monétique</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="BI-tab" data-bs-toggle="tab" data-bs-target="#BI" type="button" role="tab" aria-controls="BI" aria-selected="false">BI</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="flamingo-tab" data-bs-toggle="tab" data-bs-target="#flamingo" type="button" role="tab" aria-controls="flamingo" aria-selected="false">flamingo</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="monetics" role="tabpanel" aria-labelledby="monetics-tab" style="padding: 20px;">
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Etat de santé">
          <p-table class="table" #dt1 [value]="this.ListHealthCheck" dataKey="id" 
      [rows]="pageSizeHealthMonetics" [totalRecords]="totalRecordsHealthMonetics" [paginator]="true" 
      [loading]="loading" [currentPageReportTemplate]="currentPageReportTemplateHealthMonetics"
      (onLazyLoad)="lazyLoadHandlerHealthMonetics($event)"
      [lazy]="true"
      [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearMonetics()"></button>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
          
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input [style]="{'width':'100%'}" pInputText type="text" [(ngModel)]="filterHealthMonetics.titre" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Type</span>
                <p-dropdown [options]="ListType" [(ngModel)]="filterHealthMonetics.type" appendTo="body"
                  [style]="{'width':'100%'}" placeholder="Recherche par type" optionValue="name"
                  optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </th>
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date d'Ajout</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthMonetics"></p-calendar>
              </span></div>
            </th>
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span><br>
              <button  pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthMonetics()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th>  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-health>
          <tr>
            <td style="text-align: center;">
              {{health.titre}}
            </td>
            <td style="text-align: center;">
              {{health.type}}
            </td>
            <td style="text-align: center;">
              {{health.dateAjout | date: 'dd/MM/yyyy'}}
            </td>
            <td style="text-align: center;"><button pButton pRipple type="button" style="font-size: larger;" icon="pi pi-search"
                (click)="charte(health)" class="p-button-rounded p-button-info"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">aucun état santé n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
      </p-accordionTab>
      <p-accordionTab header="Nuit Applicative">
      <p-table class="table" #dt1 [value]=" this.ListNuitApplicative" dataKey="id" [rows]="10"
      [rows]="pageSizeNuitApplicative" [totalRecords]="totalRecordsNuitApplicative" [paginator]="true" 
      [loading]="loading" [currentPageReportTemplate]="currentPageReportTemplateNuitApplicative"
      (onLazyLoad)="lazyLoadHandlerNuitApplicative($event)"
      [lazy]="true"
      [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
          <div class="flex">
       <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearNuit()"></button>
           
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
          
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input [style]="{'width':'100%'}" pInputText type="text" [(ngModel)]="filterNuitApplicative.titre" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Type</span>
                <p-dropdown [options]="ListType" [(ngModel)]="filterNuitApplicative.statut" appendTo="body"
                  [style]="{'width':'100%'}" placeholder="Recherche par type" optionValue="name"
                  optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </th>
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date d'Ajout</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateNuitApplicative"></p-calendar>
              </span></div>
            </th>
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span><br>
              <button  pButton pRipple  type="button" style="font-size: larger;" (click)="searchNuitApplicative()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th>  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nuit>
          <tr>
            <td style="text-align: center;">
              {{nuit.titre}}
            </td>
             <td  style="text-align: center;">
              {{nuit.statut}}
            </td>
            <td  style="text-align: center;">
              {{nuit.date | date: 'dd/MM/yyyy'}}
            </td>
            <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteNuit(nuit)"
                class="p-button-rounded p-button-info"></button>
        </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">aucune nuit applicative n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
      </p-accordionTab>
  </p-accordion>
      </div>
      <div class="tab-pane fade" id="BI" role="tabpanel" aria-labelledby="BI-tab" style="padding: 20px;">
        <p-table class="table" #dt2 [value]=" this.ListHealthCheckBw" dataKey="id" 
        [rows]="pageSizeHealthBI" [totalRecords]="totalRecordsHealthBI" [paginator]="true" 
        [loading]="loadingBW" [currentPageReportTemplate]="currentPageReportTemplateHealthBI"
        (onLazyLoad)="lazyLoadHandlerHealthBI($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
          <div class="flex">
       <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearBI()"></button>
          
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
            
            <th  style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input [style]="{ width: '100%' }" pInputText type="text" [(ngModel)]="filterHealthBI.titre" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date d'Ajout</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthBI"></p-calendar>
              </span></div>
            </th>
            
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span><br>
              <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthBI()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th> 
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-health>
          <tr>
           
            <td style="text-align: center;">
              {{health.titre}}
            </td>
            <td style="text-align: center;">
              {{health.dateAjout | date: 'dd/MM/yyyy'}}
            </td>
            <td style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteBW(health)"
                class="p-button-rounded p-button-info"></button>
        </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">aucun état santé n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
      </div>
      <div class="tab-pane fade" id="flamingo" role="tabpanel" aria-labelledby="flamingo-tab" style="padding: 20px;">       
      <p-table class="table" #dt3 [value]="this.ListHealthCheckFlamingo" dataKey="id"
      [rows]="pageSizeHealthSuplyFlamingo" [totalRecords]="totalRecordsHealthSuplyFlamingo" [paginator]="true" 
      [loading]="loadingFlamingo" [currentPageReportTemplate]="currentPageReportTemplateHealthSuplyFlamingo"
      (onLazyLoad)="lazyLoadHandlerHealthSuplyFlamingo($event)"
      [lazy]="true"
      [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
          <div class="flex">
       <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearSuplyFlamingo()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
            <th  style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input pInputText type="text" [style]="{ width: '100%' }" [(ngModel)]="filterHealthSuplyFlamingo.titre" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date Flux</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthSuplyFlamingo"></p-calendar>
              </span></div>
            </th>
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span><br>
              <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthSuplyFlamingo()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th> 
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-healthFlamingo>
          <tr>
           
            <td style="text-align: center;">
              {{healthFlamingo.titre}}
            </td>
            <td style="text-align: center;">
              {{healthFlamingo.dateFlux | date: 'dd/MM/yyyy'}}
            </td>
            <td style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteFlamingo(healthFlamingo)"
                class="p-button-rounded p-button-info"></button>
        </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">aucun état santé n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
      </div>
      </div>
    </div>
  </div>
</div>
<app-charte-health-check-flamingo *ngIf="charteHealthCheckFlamingo"></app-charte-health-check-flamingo>
<app-charte-health-check-bw-perimetre *ngIf="charteHealthCheckBw"></app-charte-health-check-bw-perimetre>
<app-charte-health-check *ngIf="charteHealthCheckPreprodProd"></app-charte-health-check>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>