<div class="container-fluid page" style="background-color: white">
  <div class="page__box p-3">Registre des Incidents</div>
  <div class="page__content shadow p-2 position-relative ">
    <div class="card">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Ajouter Incident" icon="pi pi-plus" class="p-button-success mr-2" (click)="PopUp()" ></button>
        </ng-template>
        <ng-template pTemplate="left">
            <button pButton pRipple label="Export" icon="pi pi-upload" (click)="exportExcel()" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
      <p-table class="table" #dt1 [value]=" this.ListIncidentOfPilote" dataKey="id" [rows]="10"
        [showCurrentPageReport]="true" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [sortField]="'dateDebut'" [sortOrder]="-1"
        [globalFilterFields]="['titreIncident','application.nomApplication','statut','dateDebut','dateFin','prochaineCommunication','description','situationActuelle','impact','causePrincipale','solutionContournement']">
        <ng-template pTemplate="caption">
          <div class="flex">
            
                
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto" style="float: right;">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Recherche par mot clé" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
            <th>
              <div class="flex justify-content-center align-items-center">
                Application
                <p-columnFilter type="text" field="application.nomApplication" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                titre Incident
                <p-columnFilter type="text" field="titreIncident" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Statut
                <p-columnFilter type="text" field="statut" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                description
                <p-columnFilter type="text" field="application.lot" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Situation Actuelle
                <p-columnFilter type="text" field="situationActuelle" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Impact
                <p-columnFilter type="text" field="impact" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Cause Principale
                <p-columnFilter type="text" field="causePrincipale" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Solution Contournement
                <p-columnFilter type="text" field="solutionContournement" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Date Debut
                <!-- <p-columnFilter type="date" field="dateDebut" display="menu"></p-columnFilter> -->
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Date Fin
                <!-- <p-columnFilter type="date" field="dateFin" display="menu"></p-columnFilter> -->
              </div>
            </th>
            <th [width]="200">
              Action
            </th>
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incident>
          <tr>
           
            <td>
              {{incident.application.nomApplication}}
            </td>
             <td>
              {{incident.titreIncident}}
            </td>
            <td>

              <div *ngIf="incident.statut=='Clos'">    <p-badge severity="success" styleClass="mr-2"></p-badge>
              </div> 
              <div *ngIf="incident.statut=='Résolu avec Suivi'"><p-badge severity="warning" styleClass="mr-2"></p-badge></div>
               <div *ngIf="incident.statut=='Ouvert'" ><p-badge severity="danger" styleClass="mr-2"></p-badge></div> 
                {{incident.statut}}
            </td>
            <td>
              {{incident.description}}
            </td>
            <td>
              {{incident.situationActuelle}}
            </td>
            <td>
              {{incident.impact}}
            </td>
            <td>
              {{incident.causePrincipale}}
            </td>
            <td>
              {{incident.solutionContournement}}
            </td>
            <td>
              {{incident.dateDebut | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              {{incident.dateFin | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              <!-- <button pButton pRipple (click)="ShowCharte(incident)" type="button" style="font-size: larger;" icon="pi pi-search"
                class="p-button-rounded p-button-info"></button>
            <button pButton pRipple (click)="Edite(incident)" type="button" style="font-size: larger;" icon="pi pi-pencil"
              class="p-button-rounded p-button-success"></button>
          <button *ngIf="incident.createurIncident.id == this.User.id" pButton pRipple (click)="DeleteIncident(incident.id)" type="button" style="font-size: larger;" icon="pi pi-times"
            class="p-button-rounded p-button-danger"></button> -->
            <span class="p-buttonset">
              <button pButton pRipple class="p-button-info"  icon="pi pi-search" (click)="ShowCharte(incident)"></button>
              <button pButton pRipple class="p-button-success" icon="pi pi-pencil" (click)="Edite(incident)"></button>
              <button *ngIf="incident.createurIncident.id == this.User.id"   pButton pRipple class="p-button-danger" (click)="DeleteIncident(incident.id)" icon="pi pi-trash"></button>
          </span>
        </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">aucun incident n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog header="Ajouter Un Incident" [modal]="true" [(visible)]="showPopUpIncd" (onHide)="onDialogHideLang()" [responsive]="true" [autoZIndex]="true"
  [style]="{width: '40vw', height: '18vw'}" [resizable]="true">

  <div class="col-12 text-center" style="margin-top: 1%;">
    <span class="p-input-icon-left" [style]="{ width: '40%' }">
      <p-dropdown [style]="{ width: '100%', required: 'required' }" [options]="ListApp" optionLabel="nomApplication" appendTo="body" (onChange)="changeStatut()"
        [filter]="true" filterBy="nomApplication" [showClear]="true" placeholder="Selectinné l'Application"
        [(ngModel)]="this.AddIncident.application">
        <ng-template let-application pTemplate="item">
          <div class="country-item">
            <div>{{ application.nomApplication }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </span>
    <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'40%'}">
      <p-dropdown [options]="statutIncident" [(ngModel)]="this.AddIncident.statut" appendTo="body"
        [style]="{'width':'100%','required':'required'}" placeholder="Selectinné le statut" optionValue="name"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </span>
  </div>
  <div class="col-12 text-center" style="margin-top: 2%;">
    <span class="p-input-icon-left"  [style]="{'width':'40%'}" *ngIf="this.optionType">
      <p-dropdown [options]="ListType" [(ngModel)]="this.AddIncident.type" appendTo="body"
        [style]="{'width':'100%','required':'required'}" placeholder="Selectinné le type" optionValue="name"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </span>
    <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'40%'}">
      <p-dropdown [options]="listLangage" [(ngModel)]="this.langage" appendTo="body"
        [style]="{'width':'100%','required':'required'}" placeholder="Selectinné la langue" optionValue="name"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Submit" (onClick)="RouteFormAddIncident()" icon="pi pi-check"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="Choix D'affichage" [modal]="true" [(visible)]="popUpLangue" (onHide)="onDialogHideLang()"
  [style]="{width: '30vw', height: '15vw'}" [resizable]="true">
 
  <div class="col-12 text-center" style="margin-top: 1%;">
    <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'80%'}">
      <p-dropdown [options]="listLangageCharte" [(ngModel)]="this.selectLang" appendTo="body"
        [style]="{'width':'100%','required':'required'}" placeholder="Selectinné la langue" optionValue="name"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Submit" (onClick)="SelectLanguage()" icon="pi pi-check"></p-button>
  </ng-template>
</p-dialog>


<app-charte-incident3bfr  *ngIf="charteIncident3Bfr"></app-charte-incident3bfr>
<app-charte-incident3-bfr-ang  *ngIf="charteIncident3BfrAng"></app-charte-incident3-bfr-ang>
<app-charte-incident3b-ang  *ngIf="charteIncident3BAng"></app-charte-incident3b-ang>
<app-charte-incident-monetic  *ngIf="charteIncidentMonetic"></app-charte-incident-monetic>
<app-charte-incident-monetic-ang  *ngIf="charteIncidentMoneticAng"></app-charte-incident-monetic-ang>
<app-charte-incident-monetic-ang-fr  *ngIf="charteIncidentMoneticAngFr"></app-charte-incident-monetic-ang-fr>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
