<mat-nav-list class="side-nav">
  <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
 Dashboard
  </a>
  <a class="nav-link" routerLinkActive="active"  routerLink="/admin/users/register">Gestion des Utilisateurs</a>
  <a class="nav-link" routerLinkActive="active"  routerLink="/admin/application/register">Gestion des Applications </a>
  <a class="nav-link" routerLinkActive="active"  routerLink="/admin/perimetre/register">  Gestion des Périmètres </a>
  <a class="nav-link" routerLinkActive="active"  routerLink="/admin/processusMetier/register"> Gestion des Processus Métier </a>
</mat-nav-list>
