<mat-nav-list>
  <div class="logo">
    <img src="./assets/img/gstCommImg (2).png" alt="Communication">
  <!-- <h1 style="color: #cc0000;font-size: 125px;font-family: cardo;"> CGI</h1> --> 
</div> 
<!--  <mat-divider></mat-divider>-->
<!--  <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->
  <!-- <mat-divider></mat-divider> -->
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/test">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users/register"> <mat-icon>supervisor_account</mat-icon> Gestion des Utilisateur</a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/application/register"> <mat-icon>important_devices</mat-icon> Gestion des Application </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/perimetre/register"> <mat-icon>label</mat-icon> Gestion des Périmètre </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/admin/processusMetier/register"> <mat-icon>reorder</mat-icon> Gestion des Processus Métier </a>
</mat-nav-list>
