<mat-nav-list>
  <div class="logo">
    <img src="./assets/img/gstCommImg (2).png" alt="Communication">
  <!-- <h1 style="color: #cc0000;font-size: 125px;font-family: cardo;"> CGI</h1> --> 
</div> 
<!--  <mat-divider></mat-divider>-->
<!--  <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <!-- <mat-divider></mat-divider> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/test">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <!-- <mat-divider></mat-divider> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users/register"> <mat-icon>supervisor_account</mat-icon> Gestion Utilisateur</a>
  <!-- <mat-divider></mat-divider> -->
  <a mat-list-item> <mat-icon>view_list</mat-icon> Gestion Application </a>
  <!-- <mat-divider></mat-divider> -->
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <!-- <mat-divider></mat-divider> -->
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  <!-- <mat-divider></mat-divider> -->
</mat-nav-list>
