.side-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
}

.side-nav a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: block;
  padding: 22px 16px;
  font-size: 20px;
  margin-top: 0%;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.2s;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  
}

.side-nav a:hover {
  background-color: white;
  border-right: 7px solid  #5236AB ;
  color: black;
  border-top: 5px solid #e31937;
  border-bottom: 5px solid #a82465;
}

.side-nav .active {
  background-color: white;
  border-right: 7px solid  #5236AB ;
  color: black;
  // border-top: 5px solid #e31937;
  // border-bottom: 5px solid #a82465;
  //   background: linear-gradient(74deg, #e31937 2%, #a82465 44%, #5236ab 84%);
  // color: #fff;
}

.side-nav .mat-list-item:hover {
  background: linear-gradient(74deg, #e31937 2%, #a82465 44%, #5236ab 84%);
  color: #fff;
}

.side-nav .mat-list-item-content {
  display: flex;
  align-items: center;
}

.side-nav .mat-list-item-icon {
  margin-right: 16px;
  font-size: 24px;
}

.side-nav .mat-divider {
  border-color: rgba(255, 255, 255, 0.301);
}

.side-nav .mat-subheader {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.side-nav .mat-subheader:hover {
  background-color: #2f2f2f;
  color: #fff;
}

.side-nav .mat-nav-list-item {
  margin-top: 8px;
}

.side-nav .mat-nav-list-item:first-child {
  margin-top: 0;
}
