<p-dialog [modal]="true" [(visible)]="this.charteHealthCheckBw" header="Charte Health Check BW Perimeter"
  [style]="{width: '65vw', height: '90vw','margin-left':'3%'}" [resizable]="true">
  <div #myDialog id="myDialog" style="width: 100%;font-size: small;">
    <div style="margin: 2%;font-size: 14px;">
      <p>Hello,</p><br>
      <p style="margin-bottom: 3%;">You will find below the communication of the health check for BW perimeter: </p>
      <div class="col-12">
        <div class="row align-items-center" style=" display: flex; justify-content: space-between;align-items: center;">
          <div class="col-3" style="border: 1px solid rgb(39, 93, 241); margin-left: 3%; padding: 1%;justify-content: center;">
            <p style="margin-left: 1%; margin-top: 3%; width: 100%; ">
              <span style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-color: #28a745; margin-left: auto; margin-right: auto;"></span>
              OK
            </p>
            <p style="margin-left: 1%; width: 100%; ">
              <span style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-color: rgb(54, 105, 245); margin-left: auto; margin-right: auto;"></span>
              In progress
            </p>
            <p style="margin-left: 1%; width: 100%; ">
              <span style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-color: orange; margin-left: auto; margin-right: auto;"></span>
              Critical data KO
            </p>
            <p style="margin-left: 1%; width: 100%;">
              <span style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-color: red; margin-left: auto; margin-right: auto;"></span>
              Non critical data KO
            </p>
          </div>
          
          <div class="col-5" style="border: 1px solid black; padding: 8px;height: fit-content;justify-content: center;">
            <b style="font-size: 18px;text-align: center;">{{this.AddHealthCheckBw.titre}}</b>
          </div>
          <div class="col-3" style="text-align: right;width: 17%;margin-left: 2%;justify-content: center;">
            <img src=" http://localhost:4200/assets/img/totalEnergiLogo.png" width="100%" alt="psa" title="psa"
              class="staticImg">
          </div>
        </div>

        <p style="color: cornflowerblue;"></p><br>
        <div class="col-12">
          <table id="customers" style="font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;">
            <tr>
              <th style="background-color: white; border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
    color: white;"></th>
              <th style=" border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3366cc;
    color: white;">Night Treatmenet</th>
              <th style=" border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3366cc;
    color: white;">Data Integrity</th>
              <th [attr.rowspan]="this.AddHealthCheckBw.healthCheckBwPerimetreDetailList!.length+2" style="background-color: white; border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
    color: white;"></th>
              <th colspan="2" style=" border: 1px solid black;
              text-align: center;
              padding: 8px;padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3366cc;
  color: white;">Backlog</th>
              <th [attr.rowspan]="this.AddHealthCheckBw.healthCheckBwPerimetreDetailList.length+2" style="background-color: white; border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
    color: white;"></th>
              <th rowspan="2" style="color: #996633;background-color:#d6e0f5; border: 1px solid black;
              text-align: center;
              padding: 8px;padding-top: 12px;
    padding-bottom: 12px;
   ">Comments</th>
              <th rowspan="2" style="color: #996633;background-color:#d6e0f5; border: 1px solid black;
              text-align: center;
              padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Key User FeedBack</th>
            </tr>
            <tr>
              <th style="color:black;background-color:  #ffefcc;border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Perimeter</th>
              <th style="color:black; background-color: #ffefcc;border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Status</th>
              <th style="color:black;background-color: #ffefcc;border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Status</th>
              <th style="color:black;background-color: #ffefcc;border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Incident in Progress</th>
              <th style="color:black;background-color: #ffefcc;border: 1px solid black;
                text-align: center;
                padding: 8px;padding-top: 12px;
    padding-bottom: 12px;">Incident completed this month</th>
            </tr>
            <tr *ngFor="let Helth of this.AddHealthCheckBw.healthCheckBwPerimetreDetailList">
              <td style="background-color: #2e5cb8;color:white;border: 1px solid black;
                text-align: center;
                padding: 8px;"><b>{{ Helth.perimetre.titre }}</b></td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                <div *ngIf="Helth.statusNightTreatment =='OK'"> <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: #28a745;"></span>
                </div>
                <div *ngIf="Helth.statusNightTreatment =='In progress'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: rgb(54, 105, 245);"></span>
                </div>
                <div *ngIf="Helth.statusNightTreatment =='Critical data KO'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: orange"></span>
                </div>
                <div *ngIf="Helth.statusNightTreatment =='Non critical data KO'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: red"></span>
                </div>

              </td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                <div *ngIf="Helth.statusDataIntegrity =='OK'"> <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: #28a745;"></span>
                </div>
                <div *ngIf="Helth.statusDataIntegrity =='In progress'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: rgb(54, 105, 245);"></span>

                </div>
                <div *ngIf="Helth.statusDataIntegrity =='Critical data KO'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: orange"></span>

                </div>
                <div *ngIf="Helth.statusDataIntegrity =='Non critical data KO'">
                  <span
                    style="display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: red;"></span>

                </div>

              </td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                {{ Helth.incidentInProgress }}
              </td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                {{ Helth.incidentCompleted }}
              </td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                {{ Helth.comment }}
              </td>
              <td style="border: 1px solid black;
              text-align: center;
              padding: 8px;">
                <div *ngIf="Helth.feedBack =='Yes'">
                  <b>
                    <span style="font-size: 3rem; color: rgb(90, 252, 198);border: rgb(64, 196, 152);">
                      &#10003;
                    </span>
                  </b>
                </div>
              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>

  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="this.charteHealthCheckBw=false" label="Ok"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>