<p-dialog [modal]="true" [(visible)]="this.charteHealthCheckBw" header="Charte Health Check BW Perimeter"
    [style]="{width: '65vw', height: '90vw','margin-left':'3%'}" [resizable]="true">
    <div #myDialog id="myDialog" style="width: 100%;">
      <div style="margin: 2%;font-size: 18px;">
        <p >Hello,</p><br>
        <p style="margin-bottom: 3%;">You will find below the communication of the health check for BW perimeter: </p>
        <div class="col-12">
          <div class="row align-items-center" style=" display: flex; justify-content: space-between;">
            <div class="col-3" style="border: 1px solid rgb(39, 93, 241); margin-left: 3%;">
              <p style="margin-left: 1%;margin-top: 3%;">
                <p-badge severity="success" styleClass="mr-2" ></p-badge> OK
              </p>
              <p style="margin-left: 1%;">
                <p-badge severity="info" styleClass="mr-2" ></p-badge> In progress
              </p>
              <p style="margin-left: 1%;">
                <p-badge severity="warning" styleClass="mr-2"></p-badge> Critical data KO
              </p>
              <p style="margin-left: 1%;">
                <p-badge severity="danger" styleClass="mr-2"></p-badge> Non critical data KO
              </p>
            </div>
            <div class="col-5" style="border: 1px solid black; padding: 8px;">
              <b style="font-size: 20px;">{{this.AddHealthCheckBw.titre}}</b>
            </div>
            <div class="col-3" style="text-align: right;width: 17%;margin-left: 2%">
              <img src="../../../../../assets/img/totalEnergiLogo.png" width="100%" alt="psa" title="psa" class="staticImg">
            </div>
          </div>
          
            <p style="color: cornflowerblue;"></p><br>
            <div class="col-12">
            <table id="customers">
              <tr >
                <th style="background-color: white;"></th>
                <th>Night Treatmenet</th>
                <th>Data Integrity</th>
                <th [attr.rowspan]="this.size+2" style="background-color: white;"></th>
              <th colspan="2">Backlog</th>
                <th [attr.rowspan]="this.size+2" style="background-color: white;"></th>
              <th rowspan="2" style="color: #996633;background-color:#d6e0f5">Comments</th>
              <th rowspan="2" style="color: #996633;background-color:#d6e0f5">Key User FeedBack</th>
              </tr>
              <tr >
                <th style="color:black;background-color:  #ffefcc;">Perimeter</th>
                <th style="color:black; background-color: #ffefcc;">Status</th>
                <th style="color:black;background-color: #ffefcc;">Status</th>
                <th style="color:black;background-color: #ffefcc;">Incident in Progress</th>
                <th style="color:black;background-color: #ffefcc;">Incident completed this month</th>
              </tr>
              <tr *ngFor="let Helth of this.AddHealthCheckBw.healthCheckBwPerimetreDetailList">
                <td style="background-color: #2e5cb8;color:white"><b>{{ Helth.perimetre.titre }}</b></td>
              <td>
                  <div *ngIf="Helth.statusNightTreatment =='OK'">    <p-badge severity="success" styleClass="mr-2"></p-badge>
                  </div> 
                  <div *ngIf="Helth.statusNightTreatment =='In progress'"><p-badge severity="info" styleClass="mr-2"></p-badge></div>
                  <div *ngIf="Helth.statusNightTreatment =='Critical data KO'" ><p-badge severity="warning" styleClass="mr-2"></p-badge></div> 
                  <div *ngIf="Helth.statusNightTreatment =='Non critical data KO'" ><p-badge severity="danger" styleClass="mr-2"></p-badge></div>   
          
              </td>
              <td>
                  <div *ngIf="Helth.statusDataIntegrity =='OK'">    <p-badge severity="success" styleClass="mr-2"></p-badge>
                  </div> 
                  <div *ngIf="Helth.statusDataIntegrity =='In progress'"><p-badge severity="info" styleClass="mr-2"></p-badge></div>
                  <div *ngIf="Helth.statusDataIntegrity =='Critical data KO'" ><p-badge severity="warning" styleClass="mr-2"></p-badge></div> 
                  <div *ngIf="Helth.statusDataIntegrity =='Non critical data KO'" ><p-badge severity="danger" styleClass="mr-2"></p-badge></div>   
          
              </td>
              <td>
                  {{ Helth.incidentInProgress }}
              </td>
              <td>
                  {{ Helth.incidentCompleted }}
              </td>
              <td>
                  {{ Helth.comment }}
                      </td>
              <td>
                  <div *ngIf="Helth.feedBack =='Yes'">
                     <b> <i class="pi pi-check" style="font-size: 3rem;color: rgb(90, 252, 198);"></i></b>
                  </div>
              </td>  
              </tr>
            
            </table>
            </div>
        </div>
        </div>
        
    </div>
    <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="this.charteHealthCheckBw=false" label="Ok" styleClass="p-button-text"></p-button>
          </ng-template>
</p-dialog>