@import "../../registre-application-of-pilote/registre-application-of-pilote.component.scss";

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3366cc;
    color: white;
  }