<p-dialog header="Changer le mot de passe" [(visible)]="dialogpassword" [modal]="true" [style]="{ 'width': '500px', 'height': 'auto', 'max-height': '600px' }">

  <div class="p-fluid p-field">
    <label for="currentPassword">Mot de passe actuel:</label>
    <input id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" type="password" pPassword>
  </div>
  <div class="p-fluid p-field">
    <label for="newPassword">Nouveau mot de passe:</label>
    <input id="newPassword" name="newPassword" [(ngModel)]="newPassword" type="password" pPassword (input)="validatePassword()">
  </div>
  <div class="p-fluid p-field">
    <label for="confirmNewPassword">Confirmer le nouveau mot de passe:</label>
    <input id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" type="password" pPassword (input)="validatePassword()">
  </div>
  <div *ngIf="passwordsMatch && isSecure" class="p-text-success">
    Les mots de passe correspondent et répondent aux exigences de sécurité
  </div>
  <div class="buttons">
    <button pButton color="primary" class="save-button" (click)="save()" [disabled]="!passwordsMatch || !isSecure">Enregistrer</button>
    <button pButton color="warn" class="cancel-button" (click)="cancel()">Annuler</button>
  </div>
</p-dialog>