.p-field {
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .save-button {
    background-color: #4caf50;
    margin-right: 10px;
  }

  .cancel-button {
    background-color: #f44336;
  }

  button {
    border-radius: 20px;
    text-transform: uppercase;
  }

  button:disabled {
    opacity: 0.5;
  }