<p-dialog  [modal]="true" header="Charte Incident"
  [(visible)]="this.charteIncident3BfrAng"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
  <div #myDialog id="myDialog" style="width: 100%;">
<div  class="col-12"   >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
    <img src="http://localhost:4200/assets/img/IncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
    <img src="http://localhost:4200/assets/img/IncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" >
      <img src="http://localhost:4200/assets/img/IncidentClose.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
    </div>
<div style="width: 100%;">
  <div style="float:left; width: 50%;"  >
    <div style="margin-top: 2%;margin-left: 2%;">
      <p>Sir or Madam,</p><br>
      <br>
      <p>Please find here after the follow up status regarding the incident:</p><br>
      <br>
      <p style="color: red;font-weight: bolder;">Application Name :</p>
      <p>{{this.AddIncidentAng.application.nomApplication}}</p>
      <p style="color: red;font-weight: bolder;">Start date :</p>
      <p>{{this.AddIncidentAng.dateDebut | date: 'MM/dd/yyyy'}} </p>
      <p style="color: red;font-weight: bolder;">Incident / Assistance ID : </p>
      <p>{{this.AddIncidentAng.numeroIncident}} </p>
      <p style="color: red;font-weight: bolder;">Incident Status : </p>
      <p>{{this.AddIncidentAng.statut}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">INCIDENT DESCRIPTION </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.description}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">CURRENT SITUATION </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.situationActuelle}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">IDENTIFIED IMPACTS</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.impact}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">ACTION PLAN</p>
      <div *ngFor="let action of this.AddIncidentAng.planActionList">
        <p> <b><u>Action {{action.numero}}</u></b> ({{action.statut}}) : {{action.description}} </p><br>
      </div>
    
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">WORKAROUND</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.solutionContournement}}</p><br>
        <div *ngIf="this.AddIncident.statut == 'Clos'">
        <p style="color: rgb(91, 91, 219);font-weight: bolder;"><b>DETAILS ABOUT THE INCIDENTS RESOLUTION </b></p>
      <p style="color: rgb(177, 177, 177);"><b>{{this.AddIncident.detailResolution}}</b></p><br>
      </div>
      <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'">
        <p style="color: rgb(91, 91, 219);font-weight: bolder;"><b>UPDATE</b></p>
      <p style="color: rgb(177, 177, 177);"><b>{{this.AddIncident.actionPrise}}</b></p><br>
      </div>
      <p><span style="color: rgb(91, 91, 219);font-weight: bolder;"> NEXT COMMUNICATION AT:</span>{{this.AddIncidentAng.prochaineCommunication | date: 'HH:mm:ss MM/dd/yyyy'}}</p>
    
      <br>
       </div>

  </div>
 
  <div style="float:right;width: 49%;" [ngStyle]="{'border-left': this.AddIncident.statut == 'Ouvert' ? '3px solid #e26a61' : (this.AddIncident.statut == 'Résolu avec Suivi' ? '3px solid #ddbd07' : '3px solid #17d440') }" >
    <div style="margin-top: 2%;margin-left: 2%;">
      <p>Madame, Monsieur</p><br>
      <br>
      <p>Vous trouverez ci-après le point de suivi concernant l’incident :</p><br>
      <br>
      <p style="color: red;font-weight: bolder;">Nom de l’application :</p>
      <p>{{this.AddIncident.application.nomApplication}}</p>
      <p style="color: red;font-weight: bolder;">Date de début : </p>
      <p>{{this.AddIncident.dateDebut | date: 'MM/dd/yyyy'}} </p>
      <p style="color: red;font-weight: bolder;">Numéro d’incident / Assistance : </p>
      <p>{{this.AddIncident.numeroIncident}} </p>
      <p style="color: red;font-weight: bolder;">Statut de l’incident : </p>
      <p>{{this.AddIncident.statut}}</p>
      <br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">DESCRIPTION DE L’INCIDENT </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.description}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">SITUATION ACTUELLE</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.situationActuelle}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">IMPACTS IDENTIFIES</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.impact}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">PLAN D'ACTION</p>
      <div *ngFor="let action of this.AddIncident.planActionList">
        <p > <b><u>Action {{action.numero}}</u></b> ({{action.statut}}) : {{action.description}} </p><br>
      </div>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">SOLUTION DE CONTOURNEMENT</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.solutionContournement}}</p><br>
      <div *ngIf="this.AddIncident.statut == 'Clos'">
        <p style="color: rgb(91, 91, 219);font-weight: bolder;"><b>DETAIL SUR LA RESOLUTION DE L'INCIDENT</b></p>
      <p style="color: rgb(177, 177, 177);"><b>{{this.AddIncident.detailResolution}}</b></p><br>
      </div>
      <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'">
        <p style="color: rgb(91, 91, 219);font-weight: bolder;"><b>MISE A JOUR</b></p>
      <p style="color: rgb(177, 177, 177);"><b>{{this.AddIncident.actionPrise}}</b></p><br>
      </div>
      
      <p><span style="color: rgb(91, 91, 219);font-weight: bolder;"> PROCHAINE COMMUNICATION A:</span>{{this.AddIncident.prochaineCommunication | date: 'HH:mm:ss MM/dd/yyyy'}}</p>
    
      
    </div>

  </div>
</div>
<div class="col-12" >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
  <img src="http://localhost:4200/assets/img/FooterIncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
    <img src="http://localhost:4200/assets/img/FooterIncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" >
      <img src="http://localhost:4200/assets/img/FooterIncidentClos.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
</div></div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteIncident3BfrAng=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>