<p-dialog  [modal]="true" header="Charte Incident"
  [(visible)]="this.charteIncident3BfrAng"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
  <div #myDialog id="myDialog" style="width: 100%;">
<div  class="col-12"   >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
    <img src="../../../../../assets/img/IncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
    <img src="../../../../../assets/img/IncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" >
      <img src="../../../../../assets/img/IncidentClose.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
    </div>
<div style="width: 100%;">
  <div style="float:left; width: 50%;"  >
    <div style="margin-top: 2%;margin-left: 2%;">
      <p>Sir or Madam,</p><br>
      <br>
      <p>Please find hereafter the follow up status regarding the incident:</p><br>
      <br>
      <p style="color: red;">Application Name :</p>
      <p>{{this.AddIncidentAng.application.nomApplication}}</p><br>
      <p style="color: red;">Start date :</p>
      <p>{{this.AddIncidentAng.dateDebut | date: 'MM/dd/yyyy'}} </p><br>
      <p style="color: red;">Incident / Assistance ID : </p>
      <p>{{this.AddIncidentAng.numeroIncident}} </p><br>
      <p style="color: red;">Incident Status : </p>
      <p>{{this.AddIncidentAng.statut}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">INCIDENT DESCRIPTION </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.description}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">CURRENT SITUATION </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.situationActuelle}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">IDENTIFIED IMPACTS</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.impact}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">ACTION PLAN</p>
      <div *ngFor="let action of this.AddIncidentAng.planActionList">
        <p> <b><u>Action {{action.numero}}</u></b> {{action.statut}} : {{action.description}} </p><br>
      </div>
      <p style="color: rgb(104, 104, 238);">WORKAROUND</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncidentAng.solutionContournement}}</p><br>
      <br>
      <p><span style="color: rgb(104, 104, 238);"> NEXT COMMUNICATION AT:</span>{{this.AddIncidentAng.prochaineCommunication | date: 'HH:mm:ss MM/dd/yyyy'}}</p>
    
      <br>
       </div>

  </div>
 
  <div style="float:right;width: 50%;" [ngStyle]="{'border-left': this.AddIncident.statut == 'Ouvert' ? '3px solid #e26a61' : (this.AddIncident.statut == 'Résolu avec Suivi' ? '3px solid #ddbd07' : '3px solid #17d440') }" >
    <div style="margin-top: 2%;margin-left: 2%;">
      <p>Madame, Monsieur</p><br>
      <br>
      <p>Vous trouverez ci-après le point de suivi concernant l’incident :</p><br>
      <br>
      <p style="color: red;">Nom de l’application :</p>
      <p>{{this.AddIncident.application.nomApplication}}</p><br>
      <p style="color: red;">Date de début : </p>
      <p>{{this.AddIncident.dateDebut | date: 'MM/dd/yyyy'}} </p><br>
      <p style="color: red;">Numéro d’incident / Assistance : </p>
      <p>{{this.AddIncident.numeroIncident}} </p><br>
      <p style="color: red;">Statut de l’incident : </p>
      <p>{{this.AddIncident.statut}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">DESCRIPTION DE L’INCIDENT </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.description}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">SITUATION ACTUELLE</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.situationActuelle}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">IMPACTS IDENTIFIES</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.impact}}</p><br>
      <br>
      <p style="color: rgb(104, 104, 238);">PLAN D'ACTION</p>
      <div *ngFor="let action of this.AddIncident.planActionList">
        <p > <b><u>Action {{action.numero}}</u></b> {{action.statut}} : {{action.description}} </p><br>
      </div>
      <p style="color: rgb(104, 104, 238);">SOLUTION DE CONTOURNEMENT</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddIncident.solutionContournement}}</p><br>
      <br>
      <p><span style="color: rgb(104, 104, 238);"> PROCHAINE COMMUNICATION A:</span>{{this.AddIncident.prochaineCommunication | date: 'HH:mm:ss MM/dd/yyyy'}}</p>
    
      
    </div>

  </div>
</div>
<div class="col-12" >
  <div *ngIf="this.AddIncident.statut == 'Ouvert'" >
    <img src="../../../../../assets/img/FooterIncidentOuvert.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" >
      <img src="../../../../../assets/img/FooterIncidentResoluAvecSuivi.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
      <div *ngIf="this.AddIncident.statut == 'Clos'" >
        <img src="../../../../../assets/img/FooterIncidentClos.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
        </div>
      </div></div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteIncident3BfrAng=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>