<div class="container-fluid page" style="background-color: white">
    <div class="d-flex page__box p-3">Home</div>
    <div class="page__content shadow p-3 position-relative">
            <div class="card ">
                <form>
                    <div class="container">
                        <div class="col" style="align-items: center;">
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText placeholder="Search" width="500px" />
                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%;" width="500px">
                            <i class="pi pi-user"></i>
                            <input type="text" pInputText placeholder="Search"  />
                        </span>
                        <div>
                            <p-dropdown [options]="lots"  placeholder="Selectinné le " optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
</div>