<p-dialog [modal]="true" [(visible)]="this.charteHealthCheckFlamingo" header="Charte Health Check "
    [style]="{width: '67vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
    <div #myDialog id="myDialog" style="width: 100%;">
        <div style="margin: 2%;font-size: 18px;font-weight: 500;">
            <p>Bonjour,</p><br>
            <p style="margin-bottom: 3%;">Veuillez trouver ci-dessous le Monitoring des flux Flamingo du
                {{this.AddHealthCheckFlamingo.dateFlux | date:'dd/MM'}}: </p>
            <p style="color: red;">Rapport des <span style="background-color: yellow;"> Flux sortants de EAI :</span>
            </p>
            <div  style="margin-top: 2%">
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="200">Process</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="200">SubProcess</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="250">Etat</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="200">Commentaire</th>
                    </tr>
                    <tr *ngFor="let flux of this.AddHealthCheckFlamingo.fluxEAIList">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.process}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.subProcess}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" 
                            [style.color]="(flux.etat === 'OK') ? 'green' : ((flux.etat === 'KO') ? 'red' : 'orange')">
                            {{flux.etat}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.commentaire}}</td>
                    </tr>
                </table>
            </div>
            <p style="color: red;margin-top: 2%;">Rapport des <span style="background-color: yellow;"> Flux Entrant dans
                    SAP Template Europe :</span></p>
            <div  style="margin-top: 2%">
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="220">Systeme</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="300">Etat</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="280">Commentaire</th>
                    </tr>
                    <tr *ngFor="let flux of this.AddHealthCheckFlamingo.fluxSapEuropeList">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.systeme}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" 
                            [style.color]="(flux.etat === 'OK') ? 'green' : ((flux.etat === 'KO') ? 'red' : 'orange')">
                            {{flux.etat}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.commentaire}}</td>
                    </tr>
                </table>
            </div>
            <p style="color: red;margin-top: 2%;">Rapport des <span style="background-color: yellow;"> Flux Entrants
                    dans SAP Template Light Harmonie : </span></p>
            <div  style="margin-top: 2%">
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="250">Systeme</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="250">Etat</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="250">Commentaire</th>
                    </tr>
                    <tr *ngFor="let flux of this.AddHealthCheckFlamingo.fluxSapHarmonies">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.systeme}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" 
                            [style.color]="(flux.etat === 'OK') ? 'green' : ((flux.etat === 'KO') ? 'red' : 'orange')">
                            {{flux.etat}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.commentaire}}</td>
                    </tr>
                </table>
            </div>
            <p style="color: red;margin-top: 2%;">Rapport des <span style="background-color: yellow;"> Flux Entrants
                    dans Flamingo - Sales Orders : </span></p>
            <div  style="margin-top: 2%">
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="300">Systeme</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="300">Etat</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #4775d1;" [width]="250">Commentaire</th>
                    </tr>
                    <tr *ngFor="let flux of this.AddHealthCheckFlamingo.fluxSalesOrderList">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.systeme}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" 
                            [style.color]="(flux.etat === 'OK') ? 'green' : ((flux.etat === 'KO') ? 'red' : 'orange')">
                            {{flux.etat}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{flux.commentaire}}</td>
                    </tr>
                </table>
            </div>
            <p *ngIf="this.AddHealthCheckFlamingo.remarque!=''" style="margin-top: 2%;"><b>Remarques </b></p>
            <p>{{this.AddHealthCheckFlamingo.remarque}}</p>
            <p>Merci.</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="this.charteHealthCheckFlamingo=false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>