<ng-template [ngIf]="this.spinner ">
    <div class="spinner-container">
      <p-progressSpinner styleClass="spinner" strokeWidth="4" [fill]="'#ffffff'"></p-progressSpinner>
    </div>
  </ng-template>

<div [ngClass]="{'blur': this.spinner}" class="container-fluid page" style="background-color: white">
    <div class="d-flex page__box p-3">Ajouter un Etat de santé</div>
    <div class="card align-items-center page__content shadow p-3 position-relative">
                <div class="col-12 text-center" style="margin-bottom: 2%;margin-top: 2%;">             
                    <span
                    class="p-input-icon-left"
                    [style]="{ width: '45%' }"
                  >
                  <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Périmètre<span style="color: red;">*</span></label>
                  <p-dropdown [style]="{ width: '100%', required: 'required' }" [options]="ListPerimetre" optionLabel="titre"
                  [filter]="true" filterBy="titre" [showClear]="true" placeholder="Selectinné le Perimetre"
                  [(ngModel)]="this.helthchekBwdetail.perimetre">
                  <ng-template let-peri pTemplate="item">
                    <div class="country-item">
                      <div>{{ peri.titre }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>   
                  </span>
                  <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '45%' }">
                    <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Traitement de nuit<span style="color: red;">*</span></label>
                    <p-dropdown
                    [options]="ListStatut"
                    [style]="{ width: '100%', required: 'required' }"
                    placeholder="Selectinné statut"
                    optionValue="name"
                    optionLabel="name"
                    [showClear]="true"
                    [(ngModel)]="this.helthchekBwdetail.statusNightTreatment"
                  ></p-dropdown>
                  </span>
                  <!-- <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '30%' }">
                    <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Statut d'intégrité des données<span style="color: red;">*</span></label>
                    <p-dropdown
                    [options]="ListStatut"
                    [style]="{ width: '100%', required: 'required' }"
                    placeholder="Selectinné Statut"
                    optionValue="name"
                    optionLabel="name"
                    [showClear]="true"
                    [(ngModel)]="this.helthchekBwdetail.statusDataIntegrity"
                  ></p-dropdown>
                  </span> -->
                </div>
                <!-- <div class="col-12 text-center" style="margin-bottom: 2%;">
                    <span class="p-input-icon-left" [style]="{ width: '46%' }">
                        <label  for="basic6" style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Incident en cours<span style="color: red;">*</span></label>
                        <input id="basic6" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }" type="number" pInputText
                            placeholder="Entré le nombre d'inicdent en cours" [(ngModel)]="this.helthchekBwdetail.incidentInProgress"/>
                    </span>
                    <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '46%' }">
                        <label  for="basic6" style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Incident clôturé ce mois-ci<span style="color: red;">*</span></label>
                        <input id="basic6" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }" type="number" pInputText
                            placeholder="Entré le nombre d'inicdent completer" [(ngModel)]="this.helthchekBwdetail.incidentCompleted"/>
                    </span>
                </div>-->
                <div class="col-12 text-center" style="margin-bottom: 2%;">
                    <span class="p-input-icon-left" [style]="{ width: '95%' }">
                        <label  for="basic6" style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Commentaire<span style="color: red;">*</span></label>
                        <textarea id="basic6" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }" type="text" pInputText
                            placeholder="Entré le commentaire" [(ngModel)]="this.helthchekBwdetail.comment"></textarea>
                    </span>
                    <!-- <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '41%' }">
                        <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Retour d'information des utilisateurs clés<span style="color: red;">*</span></label>
                        <p-dropdown
                        [options]="userKey"
                        [style]="{ width: '100%', required: 'required' }"
                        placeholder="Selectinné feedBack"
                        optionValue="name"
                        optionLabel="name"
                        [showClear]="true"
                        [(ngModel)]="this.helthchekBwdetail.feedBack"
                      ></p-dropdown>
                      </span> -->
                      <button style="margin-left: 2%" pButton pRipple type="button" icon="pi pi-plus" (click)="AddDetails()"
                        class="p-button-rounded p-button-success"></button>
                </div> 
                <div class="card align-items-center"  style="margin: 2%;width: 98%;">
                <div class="col-12" >
                    <p-table class="table" [value]="this.listHelthchekBwdetail" dataKey="id" [rows]="10" 
                        [showCurrentPageReport]="true" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="flex justify-content-center align-items-center">
                                        Périmètre
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-center align-items-center">
                                        Alerte
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-center align-items-center">
                                        Comments
                                    </div>
                                </th>
                            
                                <th>
                                    <div class="flex justify-content-center align-items-center">
                                        supprimer
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-Helth>
                            <tr>
                                <td>
                                    {{ Helth.perimetre.titre }}
                                </td>
                                <td>
                                    <div *ngIf="Helth.statusNightTreatment =='OK'" style="color: green;">    OK
                                    </div> 
                                    <div *ngIf="Helth.statusNightTreatment =='En cours'" style="color: orange;">En cours</div>
                                  
                                </td>
                              
                                <td>
                                    {{ Helth.comment }}
                                        </td>
                              
                                <td>
                                    <button pButton pRipple type="button" style="font-size: larger" icon="pi pi-times" (click)="removeDetails(Helth)"
                                        class="p-button-rounded p-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">aucune donnée n'a été trouvée.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            
</div>
            <div class="col-12" style="margin-bottom: 2%; margin-top: 2%;">
                <button pButton pRipple  type="button" label="Visualiser la charte" style=" float: left;margin-left: 2%;" (click)="charte()" class="p-button-raised p-button-help"></button>
                <button pButton pRipple  style=" float: right;margin-right: 2%;" type="button" label="Soumettre" class="p-button-raised" [disabled]="isSubmitDisabled()" (click)="SendAndSaveHealth()"></button>
            </div>
        </div>
    </div>
<app-nouvel-charte *ngIf="newcharteHealthCheckBw" [ngClass]="{'blur': this.spinner}"></app-nouvel-charte>