:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
  background-color: white;
}

mat-drawer {
  background: #21272b;
}
//#167774
//#4729ab
//#104113
//#2f5c79
//#832f0a
//#625009
