:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {

  height: 100%;
  background-color: white;
}

mat-drawer {
  background: #21272b;
}
.mat-drawer-content{
  overflow-y:scroll ;
  overflow-x: hidden;
}
.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font:0 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
 }
//#167774
//#4729ab
//#104113
//#2f5c79
//#832f0a
//#625009
