:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 310px;
  background: rgb(150, 149, 149);
  z-index: 100000;
}
mat-drawer-container {
  height: 100%;
  background-color: white;
}


.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font:0 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
 }
 .mat-drawer-content {
  overflow-x: hidden;
  position: relative;
  z-index: 9999;
}

p-dialog {
  position: absolute;
  z-index: 2;
}

app-header-admin ,app-header-responsable, app-header-pilote, app-header-super-admin{
  z-index: 1;
}
// app-side-bar-admin,app-side-bar-responsable,app-side-bar-pilote{
//   z-index: 1;
// }




