<div class="container-fluid page " style="background-color: white">
    <div class="page__box p-3">Registre des Changements Planifier</div>
    <div class="page__content shadow p-2 position-relative">
      <div class="card">
        <p-table class="table" #dt1 [value]=" this.ListChangementOfRespo" dataKey="id"
        [rows]="pageSize" [totalRecords]="totalRecords" [paginator]="true" 
        [loading]="loading" [currentPageReportTemplate]="currentPageReportTemplate"
        (onLazyLoad)="lazyLoadHandler($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        >
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
            <th [width]="200" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;text-align: center;">Application</span>
                <p-dropdown [style]="{ width: '100%' }" [options]="searchApp" optionLabel="nomApplication" appendTo="body" 
                  [filter]="true" filterBy="nomApplication" [showClear]="true" placeholder="Application"
                  [(ngModel)]="filterChange.application">
                  <ng-template let-application pTemplate="item">
                    <div class="country-item">
                      <div>{{ application.nomApplication }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </th>
            <th [width]="200" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input pInputText type="text" [(ngModel)]="filterChange.titre" placeholder="recherche par mot-clé" />
              </div>
            </th>
            <th [width]="200" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Statut</span>
                <p-dropdown [options]="statutChange" [(ngModel)]="filterChange.statut" appendTo="body"
                  [style]="{'width':'100%'}" placeholder="Statut" optionValue="name"
                  optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </th>

            <th [width]="200" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">version</span>
                <input pInputText type="text" [(ngModel)]="filterChange.version" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th [width]="300" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date Debut</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="filterChange.dateDebut"></p-calendar>
              </span></div>
            </th>
            <th [width]="300" style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date Fin</span>
                <p-calendar dateFormat="dd/mm/yy" [style]="{'width':'100%'}" inputId="basic2"  appendTo="body" [(ngModel)]="filterChange.dateFin"></p-calendar>
              </div>
            </th>
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span>
              <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchChange()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th>  
          </tr>
        </ng-template>
          <ng-template pTemplate="body" let-change>
            <tr>
             
              <td>
                {{change.application.nomApplication}}
              </td>
               <td>
                {{change.titre}}
              </td>
              <td>
  
                <div *ngIf="change.statut=='Planifié'"><p-badge severity="warning" styleClass="mr-2"></p-badge></div>
                 <div *ngIf="change.statut=='Terminé avec succès'" ><p-badge severity="success" styleClass="mr-2"></p-badge></div> 
                  {{change.statut}}
              </td>
              <td>
                {{change.version}}
              </td>
        
              <td>
                {{change.dateDebut | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{change.dateFin | date: 'dd/MM/yyyy'}}
              </td>
              <td><button pButton pRipple (click)="ShowCharte(change)" type="button" style="font-size: larger;" icon="pi pi-search"
                  class="p-button-rounded p-button-info"></button>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">aucun changement n'a été trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog header="Choix D'affichage" [modal]="true" [(visible)]="popUpLangue" (onHide)="onDialogHideLang()"
    [style]="{width: '30vw', height: '15vw'}" [resizable]="true">
   
    <div class="col-12 text-center" style="margin-top: 1%;">
      <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'80%'}">
        <p-dropdown [options]="listLangageCharte" [(ngModel)]="this.selectLang" appendTo="body"
          [style]="{'width':'100%','required':'required'}" placeholder="Selectinné la langue" optionValue="name"
          optionLabel="name" [showClear]="true"></p-dropdown>
      </span>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Submit" (onClick)="SelectLanguage()" icon="pi pi-check"></p-button>
    </ng-template>
  </p-dialog>
  <app-charte-operation-fr  *ngIf="charteOperationFr"></app-charte-operation-fr>
  <app-charte-operation-fr-ang  *ngIf="charteOperationAngFr"></app-charte-operation-fr-ang>
  <app-charte-operation-ang  *ngIf="charteOperationAng"></app-charte-operation-ang>
  <app-charte-changement-ang *ngIf="charteChangeAng"></app-charte-changement-ang>
  <app-charte-changement-fr *ngIf="charteChangeFr"></app-charte-changement-fr>
  <app-charte-changement-fr-ang *ngIf="charteChangeAngFr"></app-charte-changement-fr-ang>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  