<mat-nav-list>
  <div class="logo d-flex justify-content-center align-items-center">
    
    <h1 class="text-center" style="font-size: 45px;font-family: 'Times New Roman', Times, sans-serif;line-height: 1.2;"> Gestion de Communication</h1> 
   </div>
  <!--   <mat-divider></mat-divider>
 <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->

  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/testPilote">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/application/registre"> <mat-icon>supervisor_account</mat-icon> Gestion des Destinataires </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/incident/registre"> <mat-icon>report_problem</mat-icon> Gestion Des Incidents </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/operation/registre"> <mat-icon>autorenew</mat-icon> Gestion Des Operations </a>
  <a style="margin-bottom: 4%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/changement/registre"> <mat-icon>change_history</mat-icon> Gestion Des Changements </a>
  <a style="margin-bottom: 4%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/healthcheck/PreprodProd/registre"> <mat-icon>check_circle_outline</mat-icon> Gestion Health Check Preprod-Prod </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/healthcheck/Bw/registre"> <mat-icon>check_circle</mat-icon> Gestion Health CheckBw Perimeter </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/pointversion/registre"> <mat-icon>new_releases</mat-icon> Gestion des Versions </a>
</mat-nav-list>
