<mat-nav-list class="side-nav">
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/Dashboard">Dashboard</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/application/registre">Gestion des Destinataires</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/incident/registre">Gestion Des Incidents</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/operation/registre">Gestion Des Operations</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/changement/registre">Gestion Des Changements</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/healthcheck/PreprodProd/registre">Gestion Health Check Preprod-Prod</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/pilote/healthcheck/Bw/registre">Gestion Health CheckBw Perimeter</a>
  <!-- <a class="nav-link" routerLinkActive="active" routerLink="/pilote/pointversion/registre">Gestion des Versions</a> -->
</mat-nav-list>
