<mat-nav-list>
  <div class="logo">
    <img src="./assets/img/gstCommImg (2).png" alt="Communication">
  <!-- <h1 style="color: #cc0000;font-size: 125px;font-family: cardo;"> CGI</h1> --> 
</div> 
  <!--   <mat-divider></mat-divider>
 <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/testPilote">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/application/registre"> <mat-icon>supervisor_account</mat-icon> Gestion Destinataire </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/incident/registre"> <mat-icon>report_problem</mat-icon> Gestion D'Incident </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/operation/registre"> <mat-icon>autorenew</mat-icon> Gestion D'Operation </a>
  <a style="margin-bottom: 6%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/changement/registre"> <mat-icon>autorenew</mat-icon> Gestion De Changement </a>
  <a style="margin-bottom: 6%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/healthcheck/PreprodProd/registre"> <mat-icon>list</mat-icon> Gestion Health Check Preprod-Prod </a>
  <a style="margin-bottom: 6%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/healthcheck/Bw/registre"> <mat-icon>list</mat-icon> Gestion Health CheckBw Perimeter </a>
  <a style="margin-bottom: 6%;" mat-list-item routerLinkActive="list-item-active" routerLink="/pilote/pointversion/registre"> <mat-icon>list</mat-icon> Gestion Point Version </a>
</mat-nav-list>
