<p-dialog  [modal]="true" header="Charte Incident"
  [(visible)]="this.charteIncidentMoneticAng"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
  <div #myDialog id="myDialog" style="width: 100%;">
  <div class="col-12"  >
  <div >
<div *ngIf="this.AddIncident.statut == 'Ouvert'" style="border: 1px solid  rgb(211, 45, 16) ;">
  <img src="../../../../../assets/img/incidentMoneticEncours.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Clos'" style="border: 1px solid #17d440 ;">
    <img src="../../../../../assets/img/incidentMoneticRésolu.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
</div>
</div>
  <div style="width: 100%;margin-top: 2%;margin-bottom: 2%;color: black;" [ngStyle]="{'border': this.AddIncident.statut == 'Clos' ? '1px solid #17d440' : (this.AddIncident.statut == 'Ouvert' ? '1px solid rgb(211, 45, 16)' : '1px solid white') }"  >
    <div style="font-family: 'Times New Roman', Times, sans-serif;">
      <div style="margin: 1%;">
      <p style="font-weight: bolder;">Current status : <span *ngIf="this.AddIncident.statut == 'Clos'" style="color: rgb(12, 199, 12);"> RESOLVED</span> <b *ngIf="this.AddIncident.statut == 'Ouvert'" style="color: rgb(211, 45, 16);"> ON GOING</b></p>
      <p style="font-weight: bolder;">Application : [<span style="background-color: cyan;"> Production </span>/<span style="background-color: cyan"> Preproduction </span>] <span style="background-color: yellow;">{{this.AddIncidentAng.application.nomApplication}}</span></p>
      <p style="font-weight: bolder;">Start of incident :<span style="background-color: yellow;">{{this.AddIncidentAng.dateDebut | date: 'yyyy-MM-dd hh:mm'}} CET</span></p>
      <p style="font-weight: bolder;" *ngIf="this.AddIncident.statut == 'Clos'"><span style="background-color: rgb(186, 189, 189);">End of incident :</span><span style="background-color: yellow">{{this.AddIncidentAng.dateDebut | date: 'yyyy-MM-dd hh:mm'}} CET</span></p>
</div>
      <div style="height: 4vh; display: flex; align-items: center; justify-content: flex-start; text-align: center;" [ngStyle]="{'background-color': this.AddIncident.statut == 'Clos' ? 'rgb(93, 182, 163)' : (this.AddIncident.statut == 'Ouvert' ? 'rgb(245, 107, 118)' : 'white') }">
        <p style="margin: 1%; font-weight: bolder;"><span style="background-color: cyan;"> Production </span>/<span style="background-color: cyan"> Preproduction </span>] <span style="background-color: yellow;">{{this.AddIncidentAng.application.nomApplication}}</span>-Incident <span style="background-color:yellow ;">{{this.AddIncidentAng.numeroIncident}}</span> - <span style="background-color:yellow ;">{{this.AddIncidentAng.titreIncident}}</span></p>
        <div style="margin-left: auto;">
          <img src="../../../../../assets/img/usaFlag.png"  class="mr-2 flag " style="width: 30px;"/>
        </div>
      </div>
      <br>
      <div style="margin: 1%;">
      <p style="background-color: rgb(244, 247, 247);"><u>Description</u> </p>
      <p style="background-color: yellow;">{{this.AddIncidentAng.description}}</p><br>
      

      <p style="background-color: rgb(244, 247, 247);"><u>Business impact</u></p>
      <p style="background-color: yellow;">{{this.AddIncidentAng.impact}}</p><br>
      <p style="background-color: rgb(244, 247, 247);"><u>Current situation</u> </p>
      <p style="background-color: yellow;">{{this.AddIncidentAng.situationActuelle}}</p><br>
      <p style="background-color: rgb(244, 247, 247);"><u>Cause identified</u> </p>
      <p style="background-color: yellow;">{{this.AddIncidentAng.causePrincipale}}</p><br>
      
      <p style="background-color: rgb(244, 247, 247);"><u>Action Plan</u></p>
      <div *ngFor="let action of this.AddIncidentAng.planActionList" style="background-color: yellow;font-family: 'Times New Roman', Times, serif;">
        <li > {{action.description}} </li>
      </div><br>
      <p style="font-family: 'Times New Roman', Times, serif;"> <u>Next communication :</u></p>
      <p style="background-color: yellow;font-family: 'Times New Roman', Times, serif;">{{this.AddIncidentAng.prochaineCommunication | date: 'dd-MM-yyyy hh:mm'}}</p>
         </div>
</div>
  </div>

<div class="col-12">

  <div *ngIf="this.AddIncident.statut == 'Ouvert'" style="border:1px solid rgb(211, 45, 16) ;" >
    <img src="../../../../../assets/img/footerIncidentMoneticEncours.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" style="border:1px solid  #17d440 ;">
      <img src="../../../../../assets/img/footerIncidentMoneticRésolu.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
</div></div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteIncidentMoneticAng=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>