<p-dialog [modal]="true" [(visible)]="this.charteNuitApplicative" header="Charte Nuit Applicative "
    [style]="{width: '67vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
    <div #myDialog id="myDialog" style="width: 100%;">
       <style>
        ::ng-deep p-table[_ngcontent-som-c129], td[_ngcontent-som-c129], th[_ngcontent-som-c129] {
    padding:  0;
}
       </style>
        <div class="col-12">

            <div style="border:1px solid black;">
                <img src="http://localhost:4200/assets/img/nuitApplicativeProd.png" width="100%" alt="psa" title="psa"
                    class="staticImg">
            </div>
        </div>
        <div style="width: 100%;margin-top: 2%;margin-bottom: 2%;color: black;"
            [ngStyle]="{'border':'1px solid black'}">
            <div
            style="height: 6vh; display: flex; align-items: center; justify-content: flex-start; text-align: center;background-color: rgb(152, 154, 154) ">
            <p style="margin: 1%; font-weight: bolder;">[{{this.AddNuitApplicative.statut}}] Suivi nuit applicative Monétique –
                <span>{{this.AddNuitApplicative.date | date :'dd/MM/YYYY'}}</span>
            </p>
            <div style="margin-left: auto;justify-content: center;">
                <img src="http://localhost:4200/assets/img/frFlag.png" class="mr-2 flag "  />
            </div>
        </div>
        <div style="margin: 10px;">
            <p style="color: darkblue;">Bonjour,</p><br>
            <p style="color: darkblue;margin-bottom: 3%;">Ci-dessous le suivi de la nuit applicative du 
                {{this.AddNuitApplicative.date | date:'dd/MM/yyyy'}}: </p>
                <p style="color: black;"><b><u>Chaînes Référentiels</u> <span [style.color]="(this.AddNuitApplicative.typeChainesReferentiels === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeChainesReferentiels === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeChainesReferentiels}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descChainesReferentiels" style="margin-left: 37px;">{{this.AddNuitApplicative.descChainesReferentiels}}</li><br>
                <p style="color: black;"><b><u>Chaînes Transactions</u> <span [style.color]="(this.AddNuitApplicative.typeChainesTransactions === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeChainesTransactions === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeChainesTransactions}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descChainesTransactions" style="margin-left: 37px;">{{this.AddNuitApplicative.descChainesTransactions}}</li><br>
                <p style="color: black;"><b><u>Chaînes PCOM</u> <span [style.color]="(this.AddNuitApplicative.typeChainesPCOM === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeChainesPCOM === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeChainesPCOM}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descChainesPCOM" style="margin-left: 37px;">{{this.AddNuitApplicative.descChainesPCOM}}</li><br>
                <p style="color: black;"><b><u>Chaînes GR analytics</u> <span [style.color]="(this.AddNuitApplicative.typeChainesGRanalytics === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeChainesGRanalytics === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeChainesGRanalytics}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descChainesGRanalytics" style="margin-left: 37px;">{{this.AddNuitApplicative.descChainesGRanalytics}}</li><br>
                <p style="color: black;"><b><u>Chaînes Facturation</u> <span [style.color]="(this.AddNuitApplicative.typeChainesFacturation === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeChainesFacturation === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeChainesFacturation}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descChainesFacturation" style="margin-left: 37px;">{{this.AddNuitApplicative.descChainesFacturation}}</li><br>
                <p style="color: black;"><b><u>Focus sur les emails </u> <span [style.color]="(this.AddNuitApplicative.typeFocusEmail === 'WIP') ? 'orange' : ((this.AddNuitApplicative.typeFocusEmail === 'KO') ? 'red' : 'black')"> : {{this.AddNuitApplicative.typeFocusEmail}}</span> </b></p>
                <li *ngIf="this.AddNuitApplicative.descFocusEmail" style="margin-left: 37px;">{{this.AddNuitApplicative.descFocusEmail}}</li><br>
                <p style="color: black;"><u>Nombre d’occurrences : </u> </p><br>
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #3f5a8d;" [width]="300">Traitement</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #3f5a8d;" [width]="150">Date</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #3f5a8d;" [width]="250">Nb Occurrences</th>
                        <th style="border: 1.5px solid black;text-align: left; padding: 8px;color: white;background-color: #3f5a8d;" [width]="150">Statut</th>
                    </tr>
                    <tr *ngFor="let occurence of this.AddNuitApplicative.nbOccurenceList">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{occurence.traitement}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{occurence.date | date:'dd/MM/yyyy'}}</td>
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;" >{{occurence.nombreOcurrence}}</td>
                        <td style="border: 1.5px solid black;text-align: center; padding: 8px;" 
                        [style.color]="(occurence.statut == 'OK') ? 'green' : ((occurence.statut === 'KO') ? 'red' : 'black')">
                            {{occurence.statut}}</td>
                    </tr>
                </table><br>
                <p style="color: black;"><u>Suivi de la volumétrie : </u> </p><br>
                <p style="color: black;"> {{this.AddNuitApplicative.date | date:'dd/MM/yyyy'}} </p>
                <table style="font-family: arial, sans-serif;
                border-collapse: collapse;">
                    <tr>
                        <th style="border: 1.5px solid black; text-align: left; padding: 8px; color: white; background-color: #3f5a8d;" width="200">Traitement</th>
                        <th style="border: 1.5px solid black; text-align: left; padding: 8px; color: white; background-color: #3f5a8d;" width="200">Date</th>
                        <th style="border: 1.5px solid black; text-align: left; padding: 8px; color: white; background-color: #3f5a8d;" width="200">Nb Occurrences</th>
                        <th style="border: 1.5px solid black; text-align: left; padding: 8px; color: white; background-color: #3f5a8d;" width="200">Statut</th>
                      </tr>
                      <tr>
                        <th style="border: 1.5px solid black; text-align: left; padding: 8px; color: white; background-color: #97add6;text-align: center;" colspan="4">Quotidien</th>
                     </tr>
                    <tr *ngFor="let suivi of this.AddNuitApplicative.suiviVolumetrieList">
                        <td style="border: 1.5px solid black;text-align: left; padding: 8px;background-color: #d1ddf2;" >{{suivi.typeAlerte}}</td>
                        <td style="border: 1.5px solid black;text-align: center; padding: 8px;" >{{suivi.nbMinimun }}</td>
                        <td style="border: 1.5px solid black;text-align: center; padding: 8px;" >{{suivi.nbActuel}}</td>
                        <td style="border: 1.5px solid black;text-align: center; padding: 8px;" 
                        [style.color]="(suivi.statut == 'OK') ? 'green' : ((suivi.statut === 'KO') ? 'red' : 'black')">
                            {{suivi.statut}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12">

                <div  style="margin-top: 1%;border:1px solid black ;display: flex;align-items: center; justify-content: flex-start;">
                    <div class="col-3">
                    <img src="http://localhost:4200/assets/img/footerNuitApplicativeProd.png" width="40%"
                      style="padding: 5px;margin-left: 40px;" alt="psa" title="psa" class="staticImg">
                    </div>
                    <div class="col-4" >
                      <b><p>➽ Ticket : <a href="https://itsm.hubtotal.net/sp?2&id=sc_cat_item&sys_id=f05c388a75ad260018d40c8ebcc03c5e&sysparm_category=null" style="color: blue;">WeCare Portal</a></p></b>
                      <b><p>➽ e-mail : <a href="mailto:MS.MON_SI2M@totalenergies.com" style="color: blue;">Monetics IS Team (SI²M)</a></p></b>
                    </div>
            </div>

        </div>

    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="this.charteNuitApplicative=false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>