<div class="container-fluid page" style="background-color: white">
    <div class="page__box p-3">Registre des états de Santé </div>
    <div class="page__content shadow p-2 position-relative">
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-size: 20px;padding-top: 12px;padding-left: 12px;padding-right: 12px;">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="monetics-tab" data-bs-toggle="tab" data-bs-target="#monetics" type="button" role="tab" aria-controls="monetics" aria-selected="true">monétique</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="BI-tab" data-bs-toggle="tab" data-bs-target="#BI" type="button" role="tab" aria-controls="BI" aria-selected="false">BI</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="flamingo-tab" data-bs-toggle="tab" data-bs-target="#flamingo" type="button" role="tab" aria-controls="flamingo" aria-selected="false">Suply</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="lot1-tab" data-bs-toggle="tab" data-bs-target="#lot1" type="button" role="tab" aria-controls="lot1" aria-selected="false">lot 1</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="monetics" role="tabpanel" aria-labelledby="monetics-tab" style="padding: 20px;">
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Etat de santé">
          <p-toolbar styleClass="mb-4 gap-2" >
            <ng-template pTemplate="right">
                <button pButton pRipple label="Ajouter Etat santé" icon="pi pi-plus" class="p-button-success mr-2" (click)="PopAjout()" ></button>
            </ng-template>
            <ng-template pTemplate="left">
            </ng-template>
        </p-toolbar>
        <p-table class="table" #dt1 [value]=" this.ListHealthCheck" dataKey="id" [rows]="10"
        [rows]="pageSizeHealthMonetics" [totalRecords]="totalRecordsHealthMonetics" [paginator]="true" 
        [loading]="loading" [currentPageReportTemplate]="currentPageReportTemplateHealthMonetics"
        (onLazyLoad)="lazyLoadHandlerHealthMonetics($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="caption">
            <div class="flex">
         <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clearMonetics()"></button>
             
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>      
            
              <th style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Titre</span>
                  <input [style]="{'width':'100%'}" pInputText type="text" [(ngModel)]="filterHealthMonetics.titre" placeholder="recherche par mot-clé" />
                </div>
              </th> 
              <th style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Type</span>
                  <p-dropdown [options]="ListType" [(ngModel)]="filterHealthMonetics.type" appendTo="body"
                    [style]="{'width':'100%'}" placeholder="Recherche par type" optionValue="name"
                    optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
              </th>
              <th style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Date d'Ajout</span>
                  <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                  <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthMonetics"></p-calendar>
                </span></div>
              </th>
              <th  style="text-align: center;">
                <span  style="width: 100%;">Action</span><br>
                <button  pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthMonetics()" icon="pi pi-search"
                  class="p-button-rounded p-button-outlined"></button>
              </th>  
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-health>
            <tr>
              <td style="text-align: center;">
                {{health.titre}}
              </td>
               <td  style="text-align: center;">
                {{health.type}}
              </td>
              <td  style="text-align: center;">
                {{health.dateAjout | date: 'dd/MM/yyyy'}}
              </td>
              <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charte(health)"
                  class="p-button-rounded p-button-info"></button>
              <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="Edite(health)"
                class="p-button-rounded p-button-success"></button>
            <button *ngIf="health.createurHealthChekPreprodProd.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteHealthCheck(health.id)"
              class="p-button-rounded p-button-danger"></button>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">aucun état santé n'a été trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab header="Nuit Applicative">
        <p-toolbar styleClass="mb-4 gap-2" >
          <ng-template pTemplate="right">
              <button pButton pRipple label="Ajouter Nuit Applicative" icon="pi pi-plus" class="p-button-success mr-2" (click)="PopAjoutNuit()" ></button>
          </ng-template>
          <ng-template pTemplate="left">
          </ng-template>
      </p-toolbar>
      <p-table class="table" #dt1 [value]=" this.ListNuitApplicative" dataKey="id" [rows]="10"
      [rows]="pageSizeNuitApplicative" [totalRecords]="totalRecordsNuitApplicative" [paginator]="true" 
      [loading]="loading" [currentPageReportTemplate]="currentPageReportTemplateNuitApplicative"
      (onLazyLoad)="lazyLoadHandlerNuitApplicative($event)"
      [lazy]="true"
      [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="caption">
          <div class="flex">
       <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearNuit()"></button>
           
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>      
          
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Titre</span>
                <input [style]="{'width':'100%'}" pInputText type="text" [(ngModel)]="filterNuitApplicative.titre" placeholder="recherche par mot-clé" />
              </div>
            </th> 
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Type</span>
                <p-dropdown [options]="ListType" [(ngModel)]="filterNuitApplicative.statut" appendTo="body"
                  [style]="{'width':'100%'}" placeholder="Recherche par type" optionValue="name"
                  optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </th>
            <th style="text-align: center;">
              <div class="flex align-items-center">
                <span style="width: 100%;">Date d'Ajout</span>
                <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateNuitApplicative"></p-calendar>
              </span></div>
            </th>
            <th  style="text-align: center;">
              <span  style="width: 100%;">Action</span><br>
              <button  pButton pRipple  type="button" style="font-size: larger;" (click)="searchNuitApplicative()" icon="pi pi-search"
                class="p-button-rounded p-button-outlined"></button>
            </th>  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nuit>
          <tr>
            <td style="text-align: center;">
              {{nuit.titre}}
            </td>
             <td  style="text-align: center;">
              {{nuit.statut}}
            </td>
            <td  style="text-align: center;">
              {{nuit.date | date: 'dd/MM/yyyy'}}
            </td>
            <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteNuit(nuit)"
                class="p-button-rounded p-button-info"></button>
            <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="EditeNuit(nuit)"
              class="p-button-rounded p-button-success"></button>
          <button *ngIf="nuit.createurNuitApplicative.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteNuit(nuit.id)"
            class="p-button-rounded p-button-danger"></button>
        </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">aucune nuit applicative n'a été trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
      </p-accordionTab>
  </p-accordion>
        </div>
        <div class="tab-pane fade" id="BI" role="tabpanel" aria-labelledby="BI-tab" style="padding: 20px;">
          <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="right">
                <button pButton pRipple label="Ajouter Etat santé" icon="pi pi-plus" class="p-button-success mr-2" (click)="RouterAjoutBW()" ></button>
            </ng-template>
            <ng-template pTemplate="left">
            </ng-template>
        </p-toolbar>
         
        <p-table class="table" #dt2 [value]=" this.ListHealthCheckBw" dataKey="id" 
        [rows]="pageSizeHealthBI" [totalRecords]="totalRecordsHealthBI" [paginator]="true" 
        [loading]="loadingBW" [currentPageReportTemplate]="currentPageReportTemplateHealthBI"
        (onLazyLoad)="lazyLoadHandlerHealthBI($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
         <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clearBI()"></button>
             
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>      
              
              <th  style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Titre</span>
                  <input [style]="{ width: '100%' }" pInputText type="text" [(ngModel)]="filterHealthBI.titre" placeholder="recherche par mot-clé" />
                </div>
              </th> 
              <th style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Date d'Ajout</span>
                  <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                  <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthBI"></p-calendar>
                </span></div>
              </th>
              
              <th  style="text-align: center;">
                <span  style="width: 100%;">Action</span><br>
                <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthBI()" icon="pi pi-search"
                  class="p-button-rounded p-button-outlined"></button>
              </th> 
             
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-health>
            <tr>
             
              <td  style="text-align: center;">
                {{health.titre}}
              </td>
              <td  style="text-align: center;">
                {{health.dateAjout | date: 'dd/MM/yyyy'}}
              </td>
              <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteBW(health)"
                  class="p-button-rounded p-button-info"></button>
              <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="EditeBW(health)"
                class="p-button-rounded p-button-success"></button>
            <button *ngIf="health.createurHealthCheckBwPerimetre.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteHealthCheckBW(health.id)"
              class="p-button-rounded p-button-danger"></button>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">aucun état santé n'a été trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        <div class="tab-pane fade" id="flamingo" role="tabpanel" aria-labelledby="flamingo-tab" style="padding: 20px;">
          <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="right">
                <button pButton pRipple label="Ajouter Etat santé" icon="pi pi-plus" class="p-button-success mr-2" (click)="RouterAjoutFlamingo()" ></button>
            </ng-template>
            <ng-template pTemplate="left">
            </ng-template>
        </p-toolbar>
         
        <p-table class="table" #dt3 [value]=" this.ListHealthCheckFlamingo" dataKey="id" 
        [rows]="pageSizeHealthSuplyFlamingo" [totalRecords]="totalRecordsHealthSuplyFlamingo" [paginator]="true" 
        [loading]="loadingFlamingo" [currentPageReportTemplate]="currentPageReportTemplateHealthSuplyFlamingo"
        (onLazyLoad)="lazyLoadHandlerHealthSuplyFlamingo($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
         <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clearSuplyFlamingo()"></button>
             
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>      
              <th  style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Titre</span>
                  <input pInputText type="text" [style]="{ width: '100%' }" [(ngModel)]="filterHealthSuplyFlamingo.titre" placeholder="recherche par mot-clé" />
                </div>
              </th> 
              <th style="text-align: center;">
                <div class="flex align-items-center">
                  <span style="width: 100%;">Date Flux</span>
                  <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                  <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthSuplyFlamingo"></p-calendar>
                </span></div>
              </th>
              <th  style="text-align: center;">
                <span  style="width: 100%;">Action</span><br>
                <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthSuplyFlamingo()" icon="pi pi-search"
                  class="p-button-rounded p-button-outlined"></button>
              </th> 
             
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-health>
            <tr>
             
              <td  style="text-align: center;">
                {{health.titre}}
              </td>
              <td  style="text-align: center;">
                {{health.dateFlux | date: 'dd/MM/yyyy'}}
              </td>
              <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteFlamingo(health)"
                  class="p-button-rounded p-button-info"></button>
              <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="EditeFlamingo(health)"
                class="p-button-rounded p-button-success"></button>
            <button *ngIf="health.createurHealthCheckFlamingo.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteHealthCheckFlamingo(health.id)"
              class="p-button-rounded p-button-danger"></button>
          </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">aucun état santé n'a été trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        <div class="tab-pane fade" id="lot1" role="tabpanel" aria-labelledby="lot1-tab" style="padding: 20px;">
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Etat de santé MSTOOLBOX">
              <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Ajouter Etat santé MSTOOLBOX" icon="pi pi-plus" class="p-button-success mr-2" (click)="RouterAjoutMstoolbox()" ></button>
                </ng-template>
                <ng-template pTemplate="left">
                </ng-template>
            </p-toolbar>
             
            <p-table class="table" #dt2 [value]=" this.ListMonitoringMstoolbox" dataKey="id" 
            [rows]="pageSizeHealthMstoolbox" [totalRecords]="totalRecordsHealthMstoolbox" [paginator]="true" 
            [loading]="loadingHealthMstoolbox" [currentPageReportTemplate]="currentPageReportTemplateHealthMstoolbox"
            (onLazyLoad)="lazyLoadHandlerMstoolbox($event)"
            [lazy]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            >
              <ng-template pTemplate="caption">
                <div class="flex">
             <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clearMstoolbox()"></button>
                 
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>      
                  
                  <th  style="text-align: center;">
                    <div class="flex align-items-center">
                      <span style="width: 100%;">Titre</span>
                      <input [style]="{ width: '100%' }" pInputText type="text" [(ngModel)]="filterHealthMstoolbox.titre" placeholder="recherche par mot-clé" />
                    </div>
                  </th> 
                  <th style="text-align: center;">
                    <div class="flex align-items-center">
                      <span style="width: 100%;">Date d'Ajout</span>
                      <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                      <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthMstoolbox"></p-calendar>
                    </span></div>
                  </th>
                  
                  <th  style="text-align: center;">
                    <span  style="width: 100%;">Action</span><br>
                    <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthMstoolbox()" icon="pi pi-search"
                      class="p-button-rounded p-button-outlined"></button>
                  </th> 
                 
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-health>
                <tr>
                 
                  <td  style="text-align: center;">
                    {{health.titre}}
                  </td>
                  <td  style="text-align: center;">
                    {{health.dateAjout | date: 'dd/MM/yyyy'}}
                  </td>
                  <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteMstoolbox(health)"
                      class="p-button-rounded p-button-info"></button>
                  <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="EditeMstoolbox(health)"
                    class="p-button-rounded p-button-success"></button>
                <button *ngIf="health.createurMonitoring.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteMstoolbox(health.id)"
                  class="p-button-rounded p-button-danger"></button>
              </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">aucun état santé n'a été trouvé.</td>
                </tr>
              </ng-template>
            </p-table>
              </p-accordionTab>
              <p-accordionTab header="Nuit Applicative OPTIRENTA">
                <p-toolbar styleClass="mb-4 gap-2">
                  <ng-template pTemplate="right">
                      <button pButton pRipple label="Ajouter Nuit Applicative OPTIRENTA" icon="pi pi-plus" class="p-button-success mr-2" (click)="RouterAjoutOptirenta()" ></button>
                  </ng-template>
                  <ng-template pTemplate="left">
                  </ng-template>
              </p-toolbar>
               
              <p-table class="table" #dt2 [value]=" this.ListMonitoringOptirenta" dataKey="id" 
              [rows]="pageSizeHealthOptirenta" [totalRecords]="totalRecordsHealthOptirenta" [paginator]="true" 
              [loading]="loadingHealthOptirenta" [currentPageReportTemplate]="currentPageReportTemplateHealthOptirenta"
              (onLazyLoad)="lazyLoadHandlerOptirenta($event)"
              [lazy]="true"
              [rowsPerPageOptions]="[10, 25, 50]"
              >
                <ng-template pTemplate="caption">
                  <div class="flex">
               <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                      (click)="clearOptirenta()"></button>
                   
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>      
                    
                    <th  style="text-align: center;">
                      <div class="flex align-items-center">
                        <span style="width: 100%;">Titre</span>
                        <input [style]="{ width: '100%' }" pInputText type="text" [(ngModel)]="filterHealthOptirenta.titre" placeholder="recherche par mot-clé" />
                      </div>
                    </th> 
                    <th style="text-align: center;">
                      <div class="flex align-items-center">
                        <span style="width: 100%;">Date d'Ajout</span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '100%' }">
                        <p-calendar dateFormat="dd/mm/yy" [style]="{ width: '100%' }" inputId="basic2"  appendTo="body" [(ngModel)]="dateHealthOptirenta"></p-calendar>
                      </span></div>
                    </th>
                    
                    <th  style="text-align: center;">
                      <span  style="width: 100%;">Action</span><br>
                      <button pButton pRipple  type="button" style="font-size: larger;" (click)="searchHealthOptirenta()" icon="pi pi-search"
                        class="p-button-rounded p-button-outlined"></button>
                    </th> 
                   
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-health>
                  <tr>
                   
                    <td  style="text-align: center;">
                      {{health.titre}}
                    </td>
                    <td  style="text-align: center;">
                      {{health.dateAjout | date: 'dd/MM/yyyy'}}
                    </td>
                    <td  style="text-align: center;"><button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-search" (click)="charteOptirenta(health)"
                        class="p-button-rounded p-button-info"></button>
                    <button pButton pRipple  type="button" style="font-size: larger;" icon="pi pi-pencil" (click)="EditeOptirenta(health)"
                      class="p-button-rounded p-button-success"></button>
                  <button *ngIf="health.createurMonitoring.id == this.User.id"  pButton pRipple type="button" style="font-size: larger;" icon="pi pi-times" (click)="DeleteOptirenta(health.id)"
                    class="p-button-rounded p-button-danger"></button>
                </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">aucune nuit applicate n'a été trouvé.</td>
                  </tr>
                </ng-template>
              </p-table>
              </p-accordionTab>
              </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Choix Health Check" [modal]="true" [(visible)]="popUpAjout" (onHide)="onDialogHideLang()"
  [style]="{width: '30vw', height: '15vw'}" [resizable]="true">
 
  <div class="col-12 text-center" style="margin-top: 1%;">
    <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'80%'}">
      <p-dropdown [options]="this.ListType" [(ngModel)]="this.AddHealthCheck.type" appendTo="body"
        [style]="{'width':'100%','required':'required'}" placeholder="Selectinné le type" optionValue="name"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Submit" (onClick)="RouterAjout()"  icon="pi pi-check"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="Nuit Applicative" [modal]="true" [(visible)]="popUpAjoutNuit" (onHide)="onDialogHideNuit()"
[style]="{width: '30vw', height: '15vw'}" [resizable]="true">

<div class="col-12 text-center" style="margin-top: 1%;">
  <span class="p-input-icon-left" style="margin-left: 2%;" [style]="{'width':'80%'}">
    <p-dropdown [options]="this.ListType" [(ngModel)]="this.AddNuitApplicative.statut" appendTo="body"
      [style]="{'width':'100%','required':'required'}" placeholder="Selectinné le type" optionValue="name"
      optionLabel="name" [showClear]="true"></p-dropdown>
  </span>
</div>
<ng-template pTemplate="footer">
  <p-button label="Submit" (onClick)="RouterAjoutNuit()"  icon="pi pi-check"></p-button>
</ng-template>
</p-dialog>
<app-charte-nuit-applicative *ngIf="charteNuitApplicative"></app-charte-nuit-applicative>
<app-charte-health-check *ngIf="charteHealthCheckPreprodProd"></app-charte-health-check>
<app-charte-health-check-flamingo *ngIf="charteHealthCheckFlamingo"></app-charte-health-check-flamingo>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<app-nouvel-charte *ngIf="newcharteHealthCheckBw"></app-nouvel-charte>
<app-charte-monitoring-mstoolbox *ngIf="charteMonitoringMstoolbox"></app-charte-monitoring-mstoolbox>
<app-charte-monitoring-optirenta  *ngIf="charteMonitoringOptirenta"></app-charte-monitoring-optirenta>