<ng-template [ngIf]="this.spinner ">
    <div class="spinner-container">
      <p-progressSpinner styleClass="spinner" strokeWidth="4" [fill]="'#ffffff'"></p-progressSpinner>
    </div>
  </ng-template>
<div [ngClass]="{'blur': this.spinner}" class="container-fluid page" style="background-color: white">
    <div class="d-flex page__box p-3">Ajouter un Incident</div>
    <div class="card align-items-center page__content shadow p-3 position-relative">
            <div class="col-12" style="margin-bottom: 2%; margin-top: 2%;">
              
                <button pButton pRipple style=" float: right;margin-right: 2%;" type="button" label="translate"
                    class="p-button-raised" (click)="translateInput()" ></button>
            </div>
            <div style="width: 100%;">
                <div style="float:left; width: 50%;border-right:3px solid #6d6a6a;">
                    <div class="col-12" style="margin: 2%">
                        <span class="p-input-icon-left" style="margin-left: 1%" [style]="{ width: '22%' }">
                            <label for="basic3"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Titre<span style="color: red;">*</span></label>
                            <input inputId="basic3" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputText placeholder="Entré le Titre d'Incident"
                                [(ngModel)]="this.AddIncident.titreIncident" />

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic4" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">N°
                                Incident</label>
                            <input inputId="basic4" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }"
                                type="text" pInputText placeholder="Entré le numero d'incident"
                                [(ngModel)]="this.AddIncident.numeroIncident" />

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic1" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Date
                                Début<span style="color: red;">*</span></label>
                            <p-calendar appendTo="body" inputId="basic1" [(ngModel)]="date2" [showTime]="true" [style]="{ width: '100%' }" 
                                [(ngModel)]="this.AddIncident.dateDebut"></p-calendar>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic2" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Date
                                Fin</label>
                            <p-calendar appendTo="body" inputId="basic2" [(ngModel)]="date3" [showTime]="true" [style]="{ width: '100%' }"
                                [(ngModel)]="this.AddIncident.dateFin"></p-calendar>

                        </span>

                    </div>
                    <div class="col-12" style="margin-bottom: 2%;">
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label for="basic5"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Description<span style="color: red;">*</span></label>
                            <textarea id="basic5" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputTextarea placeholder="Entré la description"
                                [(ngModel)]="this.AddIncident.description"></textarea>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Situation
                                Actuelle<span style="color: red;">*</span></label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré la situation Actuelle"
                                [(ngModel)]="this.AddIncident.situationActuelle"></textarea>

                        </span>
                    </div>
                    <div class="col-12" style="margin-bottom: 2%;">
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Impact</label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré l'impact"
                                [(ngModel)]="this.AddIncident.impact"></textarea>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Cause
                                Principale<span style="color: red;">*</span></label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré la cause Principale"
                                [(ngModel)]="this.AddIncident.causePrincipale"></textarea>

                        </span>
                    </div>

                    <div class="card align-items-center" style="width: 95%; margin-left: 3%;margin-bottom: 2%;background-color: rgb(241, 241, 241);">
                        <h1 style="margin: 3%">Ajouter le Plan d'Action</h1>
                        <div class="col-12 text-center" style="margin-bottom: 2%">
                            <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '30%' }">
                                <label for="basic6"
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">N°
                                    Action</label>
                                <input id="basic6" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }"
                                    type="number" pInputText placeholder="Entré le numero"
                                    [(ngModel)]="this.num" />
                            </span>
                            <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '30%' }">
                                <label
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Statut</label>
                                <p-dropdown [options]="StatutPlan" [style]="{ width: '100%', required: 'required' }"
                                    placeholder="Selectinné le Statut" optionValue="name" optionLabel="name"
                                    [showClear]="true" [(ngModel)]="this.Action.statut"></p-dropdown>

                            </span>
                        </div>
                        <div class="col-12 text-center" style="margin-bottom: 2%">
                            <span class="p-input-icon-left" style="margin-left: 10%" [style]="{ width: '70%' }">
                                <label
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Description</label>
                                <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                    type="text" pInputTextarea placeholder="Entré la Nom description"
                                    [(ngModel)]="this.Action.description"></textarea>

                            </span>
                            <button style="margin-left: 1%" pButton pRipple type="button" icon="pi pi-plus"
                                (click)="AddAction()" class="p-button-rounded p-button-success"></button>
                        </div>
                        <div class="col-12" style="margin: 2%">
                            <p-table class="table" [value]="this.ListPlanAction" dataKey="id" [rows]="10"
                                [showCurrentPageReport]="true" [paginator]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                Numero
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                statut
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                description
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                supprimer
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-plan>
                                    <tr>
                                        <td>
                                            {{ plan.numero }}
                                        </td>

                                        <td>
                                            {{ plan.statut }}
                                        </td>

                                        <td>
                                            {{ plan.description }}
                                        </td>
                                        <td>
                                            <button pButton pRipple type="button" style="font-size: larger" (click)="removeListPlanAction(plan)"
                                                icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">aucun plan d'action n'a été ajoué.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: 4%;">
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label
                                style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Solution
                                de contournement</label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputTextarea placeholder="Entré la Solution de contournement"
                                [(ngModel)]="this.AddIncident.solutionContournement"></textarea>
                        </span>
                    </div>
                    <div *ngIf="this.AddIncident.statut == 'Clos'" class="col-12" >
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Détail sur la résolution de l’incident </label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text" pInputTextarea
                                placeholder="Entré le détail de la résolution" [(ngModel)]="this.AddIncident.detailResolution" ></textarea>
                        </span>
                    </div>
                    <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" class="col-12" >
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Mise à jour:</label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text" pInputTextarea
                                placeholder="Entré l'action prise pour resoudre l'incident" [(ngModel)]="this.AddIncident.actionPrise" ></textarea>
                        </span>
                    </div>
                    <div class="col-12">
                        <span style="margin-left: 2%" class="p-input-icon-left" [style]="{ width: '40%' }">
                            <label for="basic8"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Prochaine
                                Communication<span style="color: red;">*</span></label>
                            <p-calendar appendTo="body" inputId="basic8" [(ngModel)]="date1" [style]="{ width: '100%' }"
                                [(ngModel)]="this.AddIncident.prochaineCommunication" [showTime]="true" ></p-calendar>

                        </span>
                    </div>
                </div>
                <div style="float:right; width: 50%;">
                    <div class="col-12" style="margin: 2%">
                        <span class="p-input-icon-left" style="margin-left: 1%" [style]="{ width: '22%' }">
                            <label for="basic3"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Title<span style="color: red;">*</span></label>
                            <input inputId="basic3" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputText placeholder="Entré le Titre d'Incident" 
                                [(ngModel)]="this.AddIncidentAng.titreIncident" />
                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic4" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">N°
                                Incident</label>
                            <input inputId="basic4" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }"
                                type="text" pInputText placeholder="Entré le numero d'incident"
                                [(ngModel)]="this.AddIncidentAng.numeroIncident" />

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic1" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Start Date<span style="color: red;">*</span>
                                </label>
                            <p-calendar inputId="basic1" appendTo="body" [showTime]="true" [(ngModel)]="date2" [style]="{ width: '100%' }"
                                [(ngModel)]="this.AddIncidentAng.dateDebut"></p-calendar>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '22%' }">
                            <label for="basic2" style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">End Date
                                </label>
                            <p-calendar inputId="basic2" appendTo="body" [showTime]="true" [(ngModel)]="date3" [style]="{ width: '100%' }"
                                [(ngModel)]="this.AddIncidentAng.dateFin"></p-calendar>

                        </span>

                    </div>
                    <div class="col-12" style="margin-bottom: 2%;">
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label for="basic5"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Description<span style="color: red;">*</span></label>
                            <textarea id="basic5" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputTextarea placeholder="Entré la description"
                                [(ngModel)]="this.AddIncidentAng.description"></textarea>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Current Situation<span style="color: red;">*</span></label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré la situation Actuelle"
                                [(ngModel)]="this.AddIncidentAng.situationActuelle"></textarea>

                        </span>
                    </div>
                    <div class="col-12" style="margin-bottom: 2%;">
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Impact</label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré l'impact"
                                [(ngModel)]="this.AddIncidentAng.impact"></textarea>

                        </span>
                        <span class="p-input-icon-left" style="margin-left: 3%" [style]="{ width: '46%' }">
                            <label
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Root
                                Cause<span style="color: red;">*</span></label>
                            <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text"
                                pInputTextarea placeholder="Entré la cause Principale"
                                [(ngModel)]="this.AddIncidentAng.causePrincipale"></textarea>

                        </span>
                    </div>

                    <div class="card align-items-center" style="width: 95%; margin-left: 2%;margin-bottom: 2%;background-color: rgb(241, 241, 241);">
                        <h1 style="margin: 3%">Add Action Plan</h1>
                        <div class="col-12 text-center" style="margin-bottom: 2%">
                            <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '30%' }">
                                <label for="basic6"
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">N°
                                    Action</label>
                                <input id="basic6" required style="padding-left: 0.8rem; " [style]="{ width: '100%' }"
                                    type="number" pInputText placeholder="Entré le numero"
                                    [(ngModel)]="this.numAng" />

                            </span>
                            <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '30%' }">
                                <label
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Status</label>
                                <p-dropdown [options]="StatutPlanAng" [style]="{ width: '100%', required: 'required' }"
                                    placeholder="Selectinné le Statut" optionValue="name" optionLabel="name"
                                    [showClear]="true" [(ngModel)]="this.ActionAng.statut"></p-dropdown>

                            </span>
                        </div>
                        <div class="col-12 text-center" style="margin-bottom: 2%">
                            <span class="p-input-icon-left" style="margin-left: 10%" [style]="{ width: '70%' }">
                                <label
                                    style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;margin-left: 3%">Description</label>
                                <textarea style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                    type="text" pInputTextarea placeholder="Entré la Nom description"
                                    [(ngModel)]="this.ActionAng.description"></textarea>

                            </span>
                            <button style="margin-left: 1%" pButton pRipple type="button" icon="pi pi-plus"
                                (click)="AddActionAng()" class="p-button-rounded p-button-success"></button>
                        </div>
                        <div class="col-12" style="margin: 2%">
                            <p-table class="table" [value]="this.ListPlanActionAng" dataKey="id" [rows]="10"
                                [showCurrentPageReport]="true" [paginator]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                Numero
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                status
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                description
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-center align-items-center">
                                                delete
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-plan>
                                    <tr>
                                        <td>
                                            {{ plan.numero }}
                                        </td>

                                        <td>
                                            {{ plan.statut }}
                                        </td>

                                        <td>
                                            {{ plan.description }}
                                        </td>
                                        <td>
                                            <button pButton pRipple type="button" style="font-size: larger" (click)="removeListPlanActionAng(plan)"
                                                icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">no action was added.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: 4%;">
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label
                                style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Workaround
                                </label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }"
                                type="text" pInputTextarea placeholder="Entré la Solution de contournement"
                                [(ngModel)]="this.AddIncidentAng.solutionContournement"></textarea>
                        </span>
                    </div>
                    <div *ngIf="this.AddIncident.statut == 'Clos'" class="col-12" >
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Details about the incident resolution : </label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text" pInputTextarea
                                placeholder="Entré le détail de la résolution" [(ngModel)]="this.AddIncidentAng.detailResolution" ></textarea>
                        </span>
                    </div>
                    <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" class="col-12" >
                        <span class="p-input-icon-left" style="margin-left: 2%" [style]="{ width: '95%' }">
                            <label  style="float: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Update:</label>
                            <textarea id="basic7" style="padding-left: 0.8rem; " required [style]="{ width: '100%' }" type="text" pInputTextarea
                                placeholder="Entré l'action prise pour resoudre l'incident" [(ngModel)]="this.AddIncidentAng.actionPrise" ></textarea>
                        </span>
                    </div>
                    <div class="col-12">
                        <span style="margin-left: 2%" class="p-input-icon-left" [style]="{ width: '40%' }">
                            <label for="basic8"
                                style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;">Next
                                Communication<span style="color: red;">*</span></label>
                            <p-calendar inputId="basic8" appendTo="body" [(ngModel)]="date1" [style]="{ width: '100%' }" [showTime]="true" 
                                [(ngModel)]="this.AddIncidentAng.prochaineCommunication"></p-calendar>

                        </span>
                    </div>
                    
                </div>
             
            </div>
            <div class="col-12" style="margin-bottom: 2%; margin-top: 2%;">
                <button pButton pRipple (click)="showCharte()" type="button" label="Visualiser la charte"
                    style=" float: left;margin-left: 2%;" class="p-button-raised p-button-help"></button>
                <button pButton pRipple (click)="SendAndSaveIncident()" [disabled]="isSubmitDisabled()" style=" float: right;margin-right: 2%;" type="button" label="Soumettre"
                    class="p-button-raised"></button>
            </div>
        </div>
    </div>


    <app-charte-incident-bi-fr-angl [ngClass]="{'blur': this.spinner}" *ngIf="charteIncidentBIfrAng"></app-charte-incident-bi-fr-angl>
    <app-charte-incident3-bfr-ang [ngClass]="{'blur': this.spinner}" *ngIf="charteIncident3BfrAng"></app-charte-incident3-bfr-ang>
<app-charte-incident-monetic-ang-fr [ngClass]="{'blur': this.spinner}" *ngIf="charteIncidentMoneticAngFr"></app-charte-incident-monetic-ang-fr>
