@import "../../responsable/resgistre-application-respo/resgistre-application-respo.component.scss";
canvas {
    margin-bottom: 20px; /* Add some space between the charts */
  }

  .page__content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .page__content > div {
    width: 100%;
    display: block;
  }