<p-dialog  [modal]="true" 
  [(visible)]="this.charteIncidentMonetic"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
<div class="col-12"  >
  <div >
<div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" style="border: 1px solid  rgb(211, 45, 16) ;">
  <img src="../../../../assets/img/incidentMoneticEncours.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  </div>
  <div *ngIf="this.AddIncident.statut == 'Clos'" style="border: 1px solid #17d440 ;">
    <img src="../../../../assets/img/incidentMoneticRésolu.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
</div>
</div>
  <div style="width: 100%;margin-top: 2%;margin-bottom: 2%;color: black;" [ngStyle]="{'border': this.AddIncident.statut == 'Clos' ? '1px solid #17d440' : (this.AddIncident.statut == 'Résolu avec Suivi' ? '1px solid #ddbd07' : '1px solid white') }"  >
    <div style="margin: 1%;font-family: 'Times New Roman', Times, sans-serif;">
      <p style="font-weight: bolder;">Statut Actuelle : <span *ngIf="this.AddIncident.statut == 'Clos'" style="color: rgb(12, 199, 12);"> RESOLU</span> <b *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" style="color: rgb(211, 45, 16);"> EN COURS</b></p>
      <p style="font-weight: bolder;">Application : [<span style="background-color: cyan;"> Production </span>/<span style="background-color: cyan"> Preproduction </span>] <span style="background-color: yellow;">{{this.AddIncident.application.nomApplication}}</span></p>
      <p style="font-weight: bolder;">Début d'incident :<span style="background-color: yellow;">{{this.AddIncident.dateDebut | date: 'yyyy-MM-dd hh:mm'}} CET</span></p>
      <p style="font-weight: bolder;" *ngIf="this.AddIncident.statut == 'Clos'"><span style="background-color: rgb(186, 189, 189);">Fin d'incident :</span><span style="background-color: yellow">{{this.AddIncidentAng.dateDebut | date: 'yyyy-MM-dd hh:mm'}} CET</span></p>

      <div style="height: 3vh; display: flex; align-items: center; justify-content: flex-start; text-align: center;" [ngStyle]="{'background-color': this.AddIncident.statut == 'Clos' ? 'rgb(93, 182, 163)' : (this.AddIncident.statut == 'Résolu avec Suivi' ? 'rgb(245, 107, 118)' : 'white') }">
        <p style="margin: 0; font-weight: bolder;"><span style="background-color: cyan;"> Production </span>/<span style="background-color: cyan"> Preproduction </span>] <span style="background-color: yellow;">{{this.AddIncidentAng.application.nomApplication}}</span>-Incident <span style="background-color:yellow ;">{{this.AddIncidentAng.statut}}</span> - <span style="background-color:yellow ;">{{this.AddIncidentAng.numeroIncident}}</span></p>
      </div>
      <br>
      <p style="background-color: rgb(244, 247, 247);"><u>Description</u> </p>
      <p style="background-color: yellow;">{{this.AddIncident.description}}</p><br>
      

      <p style="background-color: rgb(244, 247, 247);"><u>Impact Métier</u></p>
      <p style="background-color: yellow;">{{this.AddIncident.impact}}</p><br>
      <p style="background-color: rgb(244, 247, 247);"><u>Situation Actuelle</u> </p>
      <p style="background-color: yellow;">{{this.AddIncident.situationActuelle}}</p><br>
      <p style="background-color: rgb(244, 247, 247);"><u>Causes identifiées</u> </p>
      <p style="background-color: yellow;">{{this.AddIncident.causePrincipale}}</p><br>
      
      <p style="background-color: rgb(244, 247, 247);"><u>Plan d'action</u></p>
      <div *ngFor="let action of this.AddIncident.planActionList" style="background-color: yellow;font-family: 'Times New Roman', Times, serif;">
        <li > {{action.description}} </li>
      </div><br>
      <p style="font-family: 'Times New Roman', Times, serif;"> <u>Prochaine communication :</u></p>
      <p style="background-color: yellow;font-family: 'Times New Roman', Times, serif;">{{this.AddIncident.prochaineCommunication | date: 'dd-MM-yyyy hh:mm'}}</p>
         </div>

  </div>

<div class="col-12">

  <div *ngIf="this.AddIncident.statut == 'Résolu avec Suivi'" style="border:1px solid rgb(211, 45, 16) ;" >
    <img src="../../../../assets/img/footerIncidentMoneticEncours.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddIncident.statut == 'Clos'" style="border:1px solid  #17d440 ;">
      <img src="../../../../assets/img/footerIncidentMoneticRésolu.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
</div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteIncidentMonetic=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>