<p-dialog  [modal]="true" header="Charte Change"
  [(visible)]="this.charteChangeBiAng"  [style]="{width: '60vw', height: '70vw','margin-left':'3%'}" [resizable]="true">
  <div #myDialog id="myDialog" style="width: 100%;">
    <div class="col-12" >
        <div *ngIf="this.AddChangement.statut == 'Terminé avec succès'" >
        <img src="http://localhost:4200/assets/img/HeaderChangeBiTerminer.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
      
        <div *ngIf="this.AddChangement.statut == 'Planifié'" >
          <img *ngIf="this.AddChangement.debut == 'Non'" src="http://localhost:4200/assets/img/HeaderChangeBiPlanifier.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
          <img *ngIf="this.AddChangement.debut == 'Oui'" src="http://localhost:4200/assets/img/HeaderChangeBiStarted.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      </div>
      </div>
<div style="width: 100%;">
  <div style="float:left; width: 100%;"  >
    <div style="margin-top: 2%;margin-left: 2%;">
      <p>Sir or Madam,</p><br>
      <br>
      <p>Please find hereafter the follow up status regarding the operation:</p><br>
      <br>
      <p style="color: red;font-weight: bolder;">Application Name :</p>
      <p>{{this.AddChangement.application.nomApplication}}</p>
      <p style="color: red;font-weight: bolder;">Start date :</p>
      <p>{{this.AddChangementAng.dateDebut | date: 'MM/dd/yyyy'}} </p>
      <p style="color: red;font-weight: bolder;">End date : </p>
      <p>{{this.AddChangementAng.dateFin | date: 'MM/dd/yyyy'}} </p>
      <p style="color: red;font-weight: bolder;">Incident Status : </p>
      <p>        <span *ngIf="this.AddChangement.statut == 'Terminé avec succès'"> Closed</span>
        <span *ngIf="this.AddChangement.statut == 'Planifié'"> Scheduled operation</span></p>
      <br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">INCIDENT DESCRIPTION </p>
      <p style="color: rgb(177, 177, 177);">{{this.AddChangementAng.detail}}</p><br>
      <p style="color: rgb(91, 91, 219);font-weight: bolder;">IDENTIFIED IMPACTS</p>
      <p style="color: rgb(177, 177, 177);">{{this.AddChangementAng.impactMetier}}</p><br>
     
    
      <p *ngIf="this.AddChangement.planRollBack" style="color: rgb(91, 91, 219);font-weight: bolder;">ROLLBACK PLAN</p>
      <p *ngIf="this.AddChangement.planRollBack" style="color: rgb(177, 177, 177);">{{this.AddChangementAng.planRollBack}}</p><br>
     
      <p><span style="color: rgb(91, 91, 219);font-weight: bolder;"> NEXT COMMUNICATION AT :</span>{{this.AddChangementAng.prochaineCom | date: 'HH:mm MM/dd/yyyy'}} (Paris Time)</p><br>
      <p style="color: rgb(55, 97, 233)">PLEASE FORWARD THIS EMAIL TO ALL PARTIES CONCERNED.</p>
    
       </div>

  </div>
</div>
<div class="col-12" >
    <div *ngIf="this.AddChangement.statut == 'Terminé avec succès'" >
    <img src="http://localhost:4200/assets/img/FooterChangeBiTerminer.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
    </div>
    <div *ngIf="this.AddChangement.statut == 'Planifié'" >
      <img *ngIf="this.AddChangement.debut == 'Non'" src="http://localhost:4200/assets/img/FooterChangeBiPlanifier.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
      <img *ngIf="this.AddChangement.debut == 'Oui'" src="http://localhost:4200/assets/img/FooterChangeBiStarted.png" width="100%" style="margin-left: 0%;" alt="psa" title="psa" class="staticImg">
  
      </div>
     
  </div>
</div>
<ng-template pTemplate="footer">
  <p-button icon="pi pi-check" (click)="this.charteChangeBiAng=false" label="Ok" styleClass="p-button-text"></p-button>
</ng-template>
</p-dialog>