<mat-nav-list>
  <div class="logo">
    <img src="./assets/img/gstCommImg (2).png" alt="Communication">
  <!-- <h1 style="color: #cc0000;font-size: 125px;font-family: cardo;"> CGI</h1> --> 
</div> 

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/testRespo">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/application/registre"> <mat-icon>supervisor_account</mat-icon> Gestion Destinataire </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/incident/registre"> <mat-icon>report_problem</mat-icon> Registre Incident </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/operation/registre"> <mat-icon>autorenew</mat-icon> Registre D'Operation </a>
  <a style="margin-bottom: 2%;" mat-list-item routerLinkActive="list-item-active" routerLink="/responsable/changement/registre"> <mat-icon>autorenew</mat-icon> Registre De Changement </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
