<mat-nav-list class="side-nav">
<a class="nav-link" routerLinkActive="active" routerLink="/responsable/dashboard">
Dashboard
  </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/application/registre"> Gestion des Destinataires </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/incident/registre"> Registre des Incidents </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/operation/registre"> Registre Des Operations </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/changement/registre">  Registre Des Changements </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/healthcheck/PreprodProd/registre">  Gestion Health Check Preprod-Prod </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/healthcheck/Bw/registre"> Gestion Health CheckBw Perimeter </a>
  <a class="nav-link" routerLinkActive="active" routerLink="/responsable/pointversion/registre">  Gestion des Versions </a>
</mat-nav-list>
