mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
li {
  list-style: none;
}
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
&-icon {
   height: 18px;
   font-size: 16px;
 }
}

::ng-deep {
.mat-menu-content {
  width: 180px;
  background:#424242;
}
}
.mat-menu-item {
  color: #c5c7c9 !important;
  font-size: 1.2rem;
  height: 50px !important;
  margin-bottom: 1px;
  &:hover {
    color: white !important;
    background-color: #595858;
  }
}
